Repository radixdlt/radixdlt-scrypto, pull requests merged in 2023-03, with the labels that each got.

#871 Resource changes per instruction
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine/src/kernel/track.rs
  radix-engine/src/ledger/bootstrap.rs
  radix-engine/src/system/kernel_modules/execution_trace/module.rs
  radix-engine/src/transaction/transaction_receipt.rs
Labels: transaction

#874 Architecture/re node id cleanup
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/radiswap.wasm
  native-sdk/src/component/package.rs
  native-sdk/src/resource/bucket.rs
  native-sdk/src/resource/resource_manager.rs
  native-sdk/src/resource/vault.rs
  native-sdk/src/resource/worktop.rs
  native-sdk/src/runtime/runtime.rs
  radix-engine-interface/src/api/types/re_node.rs
  radix-engine-interface/src/blueprints/resource/worktop.rs
  radix-engine-stores/src/hash_tree/test.rs
  radix-engine-stores/src/rocks_db.rs
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/blueprints/clock/src/lib.rs
  radix-engine-tests/tests/blueprints/data_access/src/lib.rs
  radix-engine-tests/tests/blueprints/epoch_manager/src/lib.rs
  radix-engine-tests/tests/blueprints/reentrancy/src/lib.rs
  radix-engine-tests/tests/clock.rs
  radix-engine-tests/tests/epoch_manager.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/reentrancy.rs
  radix-engine/src/blueprints/epoch_manager/epoch_manager.rs
  radix-engine/src/blueprints/epoch_manager/validator.rs
  radix-engine/src/blueprints/resource/resource_manager.rs
  radix-engine/src/blueprints/resource/worktop.rs
  radix-engine/src/blueprints/transaction_processor/executables.rs
  radix-engine/src/kernel/call_frame.rs
  radix-engine/src/kernel/id_allocator.rs
  radix-engine/src/kernel/interpreters/scrypto_interpreter.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/track.rs
  radix-engine/src/ledger/bootstrap.rs
  radix-engine/src/ledger/query/traverse.rs
  radix-engine/src/system/client_api_impl.rs
  radix-engine/src/system/kernel_modules/auth/auth_module.rs
  radix-engine/src/system/kernel_modules/costing/costing_module.rs
  radix-engine/src/system/kernel_modules/node_move/node_move_module.rs
  radix-engine/src/system/node.rs
  radix-engine/src/system/node_properties.rs
  radix-engine/src/system/node_substates.rs
  radix-engine/src/system/package/package.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/component/component.rs
  scrypto/src/component/component_access_rules.rs
  scrypto/src/component/package.rs
  scrypto/src/resource/bucket.rs
  scrypto/src/resource/resource_manager.rs
  scrypto/src/resource/vault.rs
  scrypto/src/runtime/clock.rs
  scrypto/src/runtime/runtime.rs
  simulator/src/ledger/dumper.rs
  simulator/src/resim/cmd_publish.rs
  simulator/src/resim/mod.rs
Labels: substate

#885 Refactor/remove transaction invocation
  radix-engine-common/src/data/scrypto/custom_schema.rs
  radix-engine-common/src/data/scrypto/custom_value.rs
  radix-engine-common/src/data/scrypto/custom_value_kind.rs
  radix-engine-common/src/data/scrypto/custom_well_known_types.rs
  radix-engine-common/src/data/scrypto/model/mod.rs
  radix-engine-common/src/data/scrypto/model/own.rs
  radix-engine-common/src/data/scrypto/model/reference.rs
  radix-engine-common/src/data/scrypto/value_formatter.rs
  radix-engine-interface/src/api/component/kv_store_substates.rs
  radix-engine-interface/src/api/package/invocations.rs
  radix-engine-interface/src/api/package/substates.rs
  radix-engine-interface/src/api/types/indexed_value.rs
  radix-engine-interface/src/api/types/invocation.rs
  radix-engine-interface/src/blueprints/mod.rs
  radix-engine-interface/src/blueprints/transaction_processor/invocations.rs
  radix-engine-interface/src/blueprints/transaction_processor/mod.rs
  radix-engine-interface/src/constants.rs
  radix-engine-tests/tests/blueprints/Cargo.toml
  radix-engine-tests/tests/blueprints/reference/Cargo.toml
  radix-engine-tests/tests/blueprints/reference/src/lib.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/reference.rs
  radix-engine-tests/tests/transaction_commit_rollback.rs
  radix-engine-tests/tests/transaction_executor.rs
  radix-engine-tests/tests/transaction_limits.rs
  radix-engine/src/blueprints/transaction_processor/mod.rs
  radix-engine/src/blueprints/transaction_processor/package.rs
  radix-engine/src/blueprints/transaction_processor/tx_processor.rs
  radix-engine/src/errors.rs
  radix-engine/src/kernel/call_frame.rs
  radix-engine/src/kernel/heap.rs
  radix-engine/src/kernel/interpreters/scrypto_interpreter.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/module_mixer.rs
  radix-engine/src/kernel/track.rs
  radix-engine/src/ledger/bootstrap.rs
  radix-engine/src/system/client_api_impl.rs
  radix-engine/src/system/kernel_modules/auth/auth_module.rs
  radix-engine/src/system/kernel_modules/costing/costing_module.rs
  radix-engine/src/system/kernel_modules/kernel_trace/mod.rs
  radix-engine/src/system/kernel_modules/kernel_trace/module.rs
  radix-engine/src/system/kernel_modules/mod.rs
  radix-engine/src/system/mod.rs
  radix-engine/src/system/node.rs
  radix-engine/src/system/node_properties.rs
  radix-engine/src/system/node_substates.rs
  radix-engine/src/system/package/mod.rs
  radix-engine/src/system/package/package.rs
  radix-engine/src/system/package/substates.rs
  radix-engine/src/system/type_info/mod.rs
  radix-engine/src/transaction/mod.rs
  radix-engine/src/transaction/reference_extractor.rs
  radix-engine/src/transaction/transaction_executor.rs
  radix-engine/src/transaction/transaction_receipt.rs
  scrypto-unit/src/test_runner.rs
  simulator/src/resim/mod.rs
  transaction/src/model/executable.rs
  transaction/src/validation/transaction_validator.rs
Labels: sbor, native-blueprint-interface

#895 Refactor Package Object and Client APIs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/radiswap.wasm
  native-sdk/src/modules/royalty/royalty.rs
  native-sdk/src/resource/vault.rs
  radix-engine-interface/src/api/mod.rs
  radix-engine-interface/src/api/node_api.rs
  radix-engine-interface/src/api/node_modules/auth/access_rules/invocations.rs
  radix-engine-interface/src/api/object_api.rs
  radix-engine-interface/src/api/package_api.rs
  radix-engine-interface/src/api/types/re_node.rs
  radix-engine-interface/src/blueprints/package/invocations.rs
  radix-engine-tests/tests/blueprints/bucket/src/bucket.rs
  radix-engine-tests/tests/blueprints/non_fungible/src/lib.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/access_controller/state_machine.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/clock/package.rs
  radix-engine/src/blueprints/epoch_manager/epoch_manager.rs
  radix-engine/src/blueprints/epoch_manager/validator.rs
  radix-engine/src/blueprints/identity/package.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/resource/bucket.rs
  radix-engine/src/blueprints/resource/resource_manager_util.rs
  radix-engine/src/blueprints/resource/vault.rs
  radix-engine/src/kernel/interpreters/scrypto_interpreter.rs
  radix-engine/src/kernel/interpreters/scrypto_runtime.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/kernel_api.rs
  radix-engine/src/system/client_api_impl.rs
  radix-engine/src/system/kernel_modules/auth/auth_module.rs
  radix-engine/src/system/kernel_modules/events/error.rs
  radix-engine/src/system/kernel_modules/events/module.rs
  radix-engine/src/system/node.rs
  radix-engine/src/system/node_modules/event_schema/package.rs
  radix-engine/src/system/node_properties.rs
  radix-engine/src/system/node_substates.rs
  radix-engine/src/transaction/transaction_executor.rs
  radix-engine/src/wasm/constants.rs
  radix-engine/src/wasm/prepare.rs
  radix-engine/src/wasm/traits.rs
  radix-engine/src/wasm/wasmer.rs
  radix-engine/src/wasm/wasmi.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/modules/metadata.rs
  scrypto/src/modules/royalty.rs
  scrypto/src/resource/bucket.rs
  scrypto/src/resource/proof.rs
  scrypto/src/resource/resource_builder.rs
  scrypto/src/runtime/runtime.rs
  transaction/examples/package/publish.rtm
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/enums.rs
Labels: scrypto-lib, manifest, substate

#909 feat: Can serialize SBOR with schema to simple and invertible JSON
  .github/workflows/ci.yml
  .vscode/settings.json
  assets/blueprints/Cargo.lock
  assets/faucet.schema
  assets/faucet.wasm
  assets/flash_loan.schema
  assets/flash_loan.wasm
  assets/radiswap.schema
  assets/radiswap.wasm
  examples/hello-world/Cargo.lock
  examples/no-std/Cargo.lock
  native-sdk/src/runtime/runtime.rs
  radix-engine-common/Cargo.toml
  radix-engine-common/src/data/scrypto/custom_schema.rs
  radix-engine-common/src/data/scrypto/custom_serde.rs
  radix-engine-common/src/data/scrypto/custom_well_known_types.rs
  radix-engine-common/src/data/scrypto/mod.rs
  radix-engine-common/src/data/scrypto/value_formatter.rs
  radix-engine-common/src/data/scrypto/value_serializer.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/resource/non_fungible_resource_manager.rs
  sbor-tests/tests/schema.rs
  sbor/Cargo.toml
  sbor/src/basic.rs
  sbor/src/codec/array.rs
  sbor/src/codec/collection.rs
  sbor/src/codec/tuple.rs
  sbor/src/lib.rs
  sbor/src/rust.rs
  sbor/src/schema/payload_validation/payload_validator.rs
  sbor/src/schema/schema.rs
  sbor/src/schema/schema_validation/mod.rs
  sbor/src/schema/schema_validation/type_metadata_validation.rs
  sbor/src/schema/type_data/mod.rs
  sbor/src/schema/type_data/type_metadata.rs
  sbor/src/schema/type_link.rs
  sbor/src/schema/typed_traversal/full_location.rs
  sbor/src/schema/well_known_types.rs
  sbor/src/serde_serialization/mod.rs
  sbor/src/serde_serialization/serialization.rs
  sbor/src/serde_serialization/traits.rs
  sbor/src/serde_serialization/value_map_aggregator.rs
  sbor/src/utils.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/component/component.rs
  simulator/Cargo.lock
  utils/Cargo.toml
  utils/src/contextual_display.rs
  utils/src/lib.rs
  utils/src/rust.rs
  utils/src/slice.rs
Labels: sbor

#908 Feature/validator return owner badge
  native-sdk/src/account/account.rs
  native-sdk/src/account/mod.rs
  native-sdk/src/lib.rs
  native-sdk/src/resource/resource_manager.rs
  radix-engine-interface/src/blueprints/epoch_manager/invocations.rs
  radix-engine-interface/src/blueprints/resource/non_fungible_resource_manager.rs
  radix-engine-interface/src/constants.rs
  radix-engine-tests/tests/epoch_manager.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/metadata_validator.rs
  radix-engine/src/blueprints/epoch_manager/epoch_manager.rs
  radix-engine/src/blueprints/epoch_manager/package.rs
  radix-engine/src/blueprints/epoch_manager/validator.rs
  radix-engine/src/blueprints/resource/non_fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/resource_manager_util.rs
  radix-engine/src/ledger/bootstrap.rs
  radix-engine/src/system/node_substates.rs
  scrypto-unit/src/test_runner.rs
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
Labels: manifest

#923 fix: Requires canonical format for integer NFIDs eg #124#
  radix-engine-common/src/data/scrypto/model/non_fungible_local_id.rs
Labels: transaction
