Repository radixdlt/radixdlt-scrypto, pull requests merged in 2023-02, with the labels that each got.

#836 Fix conversions for Decimal, PreciceDecimal and BnumXYZ types.
  radix-engine-interface/src/macros.rs
  radix-engine-interface/src/math/bnum_integer.rs
  radix-engine-interface/src/math/bnum_integer/bits.rs
  radix-engine-interface/src/math/bnum_integer/convert.rs
  radix-engine-interface/src/math/bnum_integer/test.rs
  radix-engine-interface/src/math/decimal.rs
  radix-engine-interface/src/math/integer_test_macros.rs
  radix-engine-interface/src/math/precise_decimal.rs
  radix-engine-tests/tests/auth_account.rs
  radix-engine-tests/tests/auth_resource.rs
  radix-engine-tests/tests/common_transactions.rs
  radix-engine-tests/tests/resource.rs
  transaction/src/manifest/generator.rs
Labels: scrypto-lib

#839 Feature/SCRY-319 transaction limit substate read
  radix-engine-constants/src/lib.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/kernel/module_mixer.rs
  radix-engine/src/system/kernel_modules/transaction_limits/module.rs
  radix-engine/src/transaction/transaction_executor.rs
Labels: transaction

#847 Architecture: Unify TypeInfo
  assets/faucet.wasm
  assets/radiswap.wasm
  radix-engine-interface/src/api/component/substates.rs
  radix-engine-interface/src/api/package/substates.rs
  radix-engine-interface/src/api/types/re_node.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/kernel/interpreters/scrypto_interpreter.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/kernel_api.rs
  radix-engine/src/system/client_api_impl.rs
  radix-engine/src/system/node.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  radix-engine/src/system/node_properties.rs
  radix-engine/src/system/node_substates.rs
  radix-engine/src/system/package/abi_extractor.rs
  radix-engine/src/system/package/package.rs
  radix-engine/src/system/type_info/substates.rs
  scrypto/src/engine/scrypto_env.rs
  simulator/src/ledger/dumper.rs
  simulator/src/resim/cmd_publish.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/enums.rs
Labels: substate

#846 Feature/SCRY-320 transaction limit substate write
  radix-engine-constants/src/lib.rs
  radix-engine-tests/tests/blueprints/Cargo.toml
  radix-engine-tests/tests/blueprints/recursion/src/caller.rs
  radix-engine-tests/tests/blueprints/transaction_limits/Cargo.toml
  radix-engine-tests/tests/blueprints/transaction_limits/src/lib.rs
  radix-engine-tests/tests/blueprints/transaction_limits/src/transaction_limits.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/transaction_limits.rs
  radix-engine-tests/tests/wasm_metering.rs
  radix-engine/src/kernel/module_mixer.rs
  radix-engine/src/system/kernel_modules/transaction_limits/module.rs
  radix-engine/src/transaction/transaction_executor.rs
Labels: transaction

#854 Architecture/remove component deref
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/radiswap.wasm
  radix-engine-interface/src/api/component_api.rs
  radix-engine-interface/src/api/types/re_node.rs
  radix-engine-stores/src/rocks_db.rs
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/blueprints/data_access/src/lib.rs
  radix-engine-tests/tests/blueprints/kernel/src/lib.rs
  radix-engine-tests/tests/blueprints/recursion/src/caller.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine-tests/tests/kernel_read.rs
  radix-engine-tests/tests/leaks.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/reentrancy.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/clock/package.rs
  radix-engine/src/blueprints/epoch_manager/epoch_manager.rs
  radix-engine/src/blueprints/epoch_manager/validator.rs
  radix-engine/src/blueprints/identity/package.rs
  radix-engine/src/errors.rs
  radix-engine/src/kernel/actor.rs
  radix-engine/src/kernel/call_frame.rs
  radix-engine/src/kernel/id_allocator.rs
  radix-engine/src/kernel/interpreters/scrypto_interpreter.rs
  radix-engine/src/kernel/interpreters/scrypto_runtime.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/track.rs
  radix-engine/src/ledger/bootstrap.rs
  radix-engine/src/ledger/query/traverse.rs
  radix-engine/src/system/client_api_impl.rs
  radix-engine/src/system/global/mod.rs
  radix-engine/src/system/global/substates.rs
  radix-engine/src/system/kernel_modules/auth/auth_module.rs
  radix-engine/src/system/kernel_modules/costing/costing_module.rs
  radix-engine/src/system/kernel_modules/costing/fee_reserve.rs
  radix-engine/src/system/kernel_modules/execution_trace/module.rs
  radix-engine/src/system/kernel_modules/node_move/node_move_module.rs
  radix-engine/src/system/mod.rs
  radix-engine/src/system/node.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  radix-engine/src/system/node_properties.rs
  radix-engine/src/system/node_substates.rs
  radix-engine/src/system/package/abi_extractor.rs
  radix-engine/src/wasm/constants.rs
  radix-engine/src/wasm/errors.rs
  radix-engine/src/wasm/prepare.rs
  radix-engine/src/wasm/traits.rs
  radix-engine/src/wasm/wasmer.rs
  radix-engine/src/wasm/wasmi.rs
  scrypto-derive/src/blueprint.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/component/component.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/runtime/data.rs
  simulator/src/ledger/dumper.rs
  simulator/src/resim/cmd_publish.rs
Labels: substate

#859 Feature: Drop empty bucket
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/radiswap.wasm
  native-sdk/src/resource/bucket.rs
  native-sdk/src/resource/proof.rs
  native-sdk/src/resource/worktop.rs
  radix-engine-interface/src/blueprints/account/invocations.rs
  radix-engine-interface/src/blueprints/resource/bucket.rs
  radix-engine-interface/src/blueprints/resource/proof.rs
  radix-engine-interface/src/blueprints/resource/worktop.rs
  radix-engine-tests/tests/access_controller.rs
  radix-engine-tests/tests/access_rules.rs
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/auth_account.rs
  radix-engine-tests/tests/blueprints/bucket/src/bucket.rs
  radix-engine-tests/tests/bucket.rs
  radix-engine-tests/tests/epoch_manager.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine-tests/tests/leaks.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/non_fungible.rs
  radix-engine-tests/tests/preview.rs
  radix-engine-tests/tests/transaction_commit_rollback.rs
  radix-engine-tests/tests/worktop.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/resource/bucket.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/proof.rs
  radix-engine/src/blueprints/resource/worktop.rs
  radix-engine/src/blueprints/transaction_processor/executables.rs
  radix-engine/src/kernel/call_frame.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/system/kernel_modules/auth/auth_module.rs
  radix-engine/src/system/kernel_modules/node_move/node_move_module.rs
  radix-engine/src/system/node_properties.rs
  radix-engine/src/system/node_substates.rs
  scrypto/src/resource/bucket.rs
  scrypto/src/resource/proof.rs
  transaction/src/builder/manifest_builder.rs
Labels: scrypto-lib
