Repository radixdlt/radixdlt-scrypto, pull requests merged in 2023-04, with the labels that each got.

#941 Architecture: Refactor Vaults
  assets/blueprints/Cargo.lock
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/radiswap.wasm
  examples/hello-world/Cargo.lock
  native-sdk/src/resource/vault.rs
  radix-engine-interface/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/fungible/fungible_vault.rs
  radix-engine-interface/src/blueprints/resource/fungible/mod.rs
  radix-engine-interface/src/blueprints/resource/mod.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/mod.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/non_fungible_vault.rs
  radix-engine-interface/src/blueprints/resource/vault.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/resource/auth_zone_composition.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/fungible/fungible_vault.rs
  radix-engine/src/blueprints/resource/fungible/mod.rs
  radix-engine/src/blueprints/resource/mod.rs
  radix-engine/src/blueprints/resource/non_fungible/mod.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_vault.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/proof.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/blueprints/resource/vault.rs
  radix-engine/src/blueprints/resource/vault_common.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/track.rs
  radix-engine/src/ledger/query/accounter.rs
  radix-engine/src/ledger/query/traverse.rs
  radix-engine/src/ledger/query/vault_finder.rs
  radix-engine/src/system/client_api_impl.rs
  radix-engine/src/system/kernel_modules/auth/auth_module.rs
  radix-engine/src/system/kernel_modules/execution_trace/module.rs
  radix-engine/src/system/node_substates.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/resource/vault.rs
  simulator/Cargo.lock
  simulator/src/ledger/dumper.rs
Labels: substate

#948 Feature: Add remove method to KVStore
  native-sdk/src/modules/access_rules/access_rules.rs
  radix-engine-interface/src/blueprints/transaction_processor/invocations.rs
  radix-engine-tests/tests/blueprints/kv_store/src/basic.rs
  radix-engine-tests/tests/blueprints/kv_store/src/lib.rs
  radix-engine-tests/tests/blueprints/kv_store/src/multiple_reads.rs
  radix-engine-tests/tests/kv_store.rs
  scrypto/src/component/kv_store.rs
Labels: scrypto-lib

#961 Fuzzing workfow summary tweaks
  .github/workflows/fuzzing.yml
  fuzz-tests/afl.sh
  fuzz-tests/fuzz.sh
  fuzz-tests/process_fuzz_results.sh
Labels: fuzzing

#965 Fight non-deterministic instrumentation output when fuzzing
  .github/workflows/fuzzing.yml
  fuzz-tests/Cargo.toml
  fuzz-tests/afl.sh
  fuzz-tests/src/transaction.rs
  radix-engine-common/tests/scrypto_codec.rs
  radix-engine-stores/src/hash_tree/jellyfish.rs
  radix-engine-stores/src/hash_tree/tree_store.rs
  radix-engine-stores/src/memory_db.rs
  radix-engine-stores/src/query/accounter.rs
  radix-engine-tests/tests/arguments.rs
  radix-engine-tests/tests/package_schema.rs
  radix-engine/Cargo.toml
  radix-engine/src/vm/wasm/wasm_instrumenter.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  sbor-tests/tests/deterministic.rs
  sbor/Cargo.toml
  sbor/src/codec/collection.rs
  sbor/src/schema/well_known_types.rs
  sbor/src/value.rs
  scrypto-unit/src/test_runner.rs
  utils/Cargo.toml
  utils/src/rust.rs
Labels: fuzzing

#951 SBOR and Addressing Tweaks and Formatting
  radix-engine-common/src/data/scrypto/custom_formatting.rs
  radix-engine-common/src/data/scrypto/custom_payload_wrappers.rs
  radix-engine-common/src/data/scrypto/custom_schema.rs
  radix-engine-common/src/data/scrypto/custom_serde.rs
  radix-engine-common/src/data/scrypto/custom_traversal.rs
  radix-engine-common/src/data/scrypto/mod.rs
  radix-engine-common/src/types/node_and_substate.rs
  radix-engine-interface/src/types/event_id.rs
  radix-engine-interface/src/types/indexed_value.rs
  radix-engine-stores/src/hash_tree/test.rs
  radix-engine/src/transaction/transaction_receipt.rs
  sbor-derive/src/lib.rs
  sbor/Cargo.toml
  sbor/src/basic.rs
  sbor/src/decoder.rs
  sbor/src/encoded_wrappers.rs
  sbor/src/lib.rs
  sbor/src/representations/contextual_display.rs
  sbor/src/representations/mod.rs
  sbor/src/representations/nested_string.rs
  sbor/src/representations/rustlike_string.rs
  sbor/src/representations/serde_serialization/contextual_serialize.rs
  sbor/src/representations/serde_serialization/mod.rs
  sbor/src/representations/serde_serialization/serde_serializer.rs
  sbor/src/representations/serde_serialization/traits.rs
  sbor/src/representations/serde_serialization/value_map_aggregator.rs
  sbor/src/representations/traits.rs
  sbor/src/schema/custom_traits.rs
  sbor/src/schema/mod.rs
  sbor/src/schema/payload_validation/payload_validator.rs
  sbor/src/schema/schema.rs
  sbor/src/schema/type_data/type_metadata.rs
  sbor/src/schema/well_known_types.rs
  sbor/src/serde_serialization/mod.rs
  sbor/src/serde_serialization/value_map_aggregator.rs
  sbor/src/traversal/mod.rs
  sbor/src/traversal/typed/events.rs
  sbor/src/traversal/typed/full_location.rs
  sbor/src/traversal/typed/mod.rs
  sbor/src/traversal/typed/typed_traverser.rs
  sbor/src/traversal/untyped/events.rs
  sbor/src/traversal/untyped/mod.rs
  sbor/src/traversal/untyped/traverser.rs
Labels: sbor, files-moved
