Repository radixdlt/radixdlt-scrypto, pull requests merged in 2023-05, with the labels that each got.

#984 Feature/fixed faucet address
  .github/workflows/ci.yml
  assets/blueprints/faucet/src/lib.rs
  assets/blueprints/genesis_helper/src/lib.rs
  assets/faucet.schema
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.schema
  assets/genesis_helper.wasm
  assets/radiswap.wasm
  radix-engine-interface/src/constants.rs
  radix-engine-tests/benches/transfer.rs
  radix-engine-tests/benches/wasm.rs
  radix-engine-tests/tests/bootstrap.rs
  radix-engine-tests/tests/fuzz_transactions.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/transaction_executor.rs
  radix-engine-tests/tests/transaction_multi_threaded.rs
  radix-engine-tests/tests/wasm_validation.rs
  radix-engine/src/errors.rs
  radix-engine/src/kernel/id_allocator.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/utils/package_extractor.rs
  radix-engine/src/vm/scrypto_runtime.rs
  radix-engine/src/vm/scrypto_vm.rs
  radix-engine/src/vm/vm.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/errors.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasm_instrumenter.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  simulator/src/resim/cmd_call_function.rs
  simulator/src/resim/cmd_call_method.rs
  simulator/src/resim/cmd_mint.rs
  simulator/src/resim/cmd_new_account.rs
  simulator/src/resim/cmd_new_badge_fixed.rs
  simulator/src/resim/cmd_new_badge_mutable.rs
  simulator/src/resim/cmd_new_simple_badge.rs
  simulator/src/resim/cmd_new_token_fixed.rs
  simulator/src/resim/cmd_new_token_mutable.rs
  simulator/src/resim/cmd_publish.rs
  simulator/src/resim/cmd_transfer.rs
  simulator/src/resim/mod.rs
Labels: transaction

#1000 Feature: Add Scrypto KVStoreEntry lifetime
  radix-engine-tests/tests/blueprints/kv_store/src/basic.rs
  radix-engine-tests/tests/blueprints/kv_store/src/lib.rs
  radix-engine-tests/tests/blueprints/kv_store/src/nested_kv_stores.rs
  radix-engine-tests/tests/kv_store.rs
  scrypto/src/component/kv_store.rs
Labels: scrypto-lib

#996 Feature/pre allocated addresses in scrypto
  assets/blueprints/faucet/src/lib.rs
  assets/blueprints/genesis_helper/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/radiswap.wasm
  radix-engine-common/src/types/entity_type.rs
  radix-engine-interface/src/api/object_api.rs
  radix-engine-tests/tests/address.rs
  radix-engine-tests/tests/blueprints/address/src/lib.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/errors.rs
  radix-engine/src/kernel/id_allocator.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/system/system.rs
  radix-engine/src/transaction/transaction_receipt.rs
  radix-engine/src/vm/scrypto_runtime.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/errors.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  scrypto-derive/src/blueprint.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/component/component.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/runtime/runtime.rs
Labels: scrypto-lib

#997 update/Update caller badges as per discussions today
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/radiswap.wasm
  radix-engine-common/src/native_addresses.rs
  radix-engine-interface/src/api/object_api.rs
  radix-engine-interface/src/blueprints/resource/non_fungible_global_id.rs
  radix-engine-interface/src/blueprints/resource/proof_rule.rs
  radix-engine-interface/src/constants.rs
  radix-engine-interface/src/types/blueprint.rs
  radix-engine-interface/src/types/invocation.rs
  radix-engine-tests/tests/access_controller.rs
  radix-engine-tests/tests/address.rs
  radix-engine-tests/tests/auth_component.rs
  radix-engine-tests/tests/blueprints/address/src/lib.rs
  radix-engine-tests/tests/component.rs
  radix-engine-tests/tests/data_validation.rs
  radix-engine-tests/tests/kernel_node_create.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/epoch_manager/epoch_manager.rs
  radix-engine/src/blueprints/epoch_manager/validator.rs
  radix-engine/src/blueprints/resource/auth_zone_substates.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/blueprints/util/securify.rs
  radix-engine/src/errors.rs
  radix-engine/src/kernel/actor.rs
  radix-engine/src/kernel/call_frame.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/kernel_api.rs
  radix-engine/src/kernel/kernel_callback_api.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/module.rs
  radix-engine/src/system/module_mixer.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_callback.rs
  radix-engine/src/system/system_modules/auth/auth_module.rs
  radix-engine/src/system/system_modules/auth/authentication.rs
  radix-engine/src/system/system_modules/costing/costing_module.rs
  radix-engine/src/system/system_modules/costing/fee_table.rs
  radix-engine/src/system/system_modules/execution_trace/module.rs
  radix-engine/src/system/system_modules/kernel_trace/module.rs
  radix-engine/src/system/system_modules/transaction_limits/module.rs
  radix-engine/src/system/system_modules/virtualization/module.rs
  radix-engine/src/vm/scrypto_runtime.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/runtime/runtime.rs
Labels: scrypto-lib

#1003 Feature: Restricted Proof Movement
  radix-engine-tests/tests/auth_mutability.rs
  radix-engine-tests/tests/auth_resource.rs
  radix-engine-tests/tests/blueprints/Cargo.toml
  radix-engine-tests/tests/blueprints/clock/src/lib.rs
  radix-engine-tests/tests/blueprints/proof/src/internal_proof_movement.rs
  radix-engine-tests/tests/blueprints/proof/src/lib.rs
  radix-engine-tests/tests/blueprints/resource_creator/Cargo.toml
  radix-engine-tests/tests/blueprints/resource_creator/src/lib.rs
  radix-engine-tests/tests/blueprints/resource_creator/src/resource_creator.rs
  radix-engine-tests/tests/blueprints/royalty/src/lib.rs
  radix-engine-tests/tests/clock.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/proof.rs
  radix-engine-tests/tests/royalty.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/blueprints/transaction_processor/tx_processor.rs
  radix-engine/src/kernel/actor.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_modules/auth/auth_module.rs
  radix-engine/src/system/system_modules/node_move/node_move_module.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/resource/resource_manager.rs
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/lexer.rs
  transaction/src/manifest/parser.rs
  transaction/src/model/instruction.rs
  transaction/src/validation/transaction_validator.rs
Labels: manifest

#1019 fix: Capture invalid SBOR values at Encode time
  radix-engine-common/src/data/manifest/custom_value.rs
  radix-engine-common/src/data/scrypto/custom_value.rs
  sbor/src/basic.rs
  sbor/src/encoder.rs
  sbor/src/path.rs
  sbor/src/value.rs
Labels: sbor

#1015 Feature/Explicit SBOR discriminators
  radix-engine-common/src/types/entity_type.rs
  radix-engine-derive/src/manifest_decode.rs
  radix-engine-derive/src/scrypto_decode.rs
  sbor-derive-common/src/categorize.rs
  sbor-derive-common/src/decode.rs
  sbor-derive-common/src/describe.rs
  sbor-derive-common/src/encode.rs
  sbor-derive-common/src/utils.rs
  sbor-tests/tests/enum.rs
  sbor/src/categorize.rs
  transaction/src/model/instruction.rs
Labels: sbor, transaction

#1018 refactor: SBOR type data + type name updates
  radix-engine-common/src/data/manifest/custom_validation.rs
  radix-engine-common/src/data/scrypto/custom_well_known_types.rs
  radix-engine-common/src/data/scrypto/model/non_fungible_local_id.rs
  radix-engine-common/src/data/scrypto/model/own.rs
  radix-engine-common/src/data/scrypto/model/reference.rs
  radix-engine-common/src/macros.rs
  radix-engine-common/src/math/decimal.rs
  radix-engine-common/src/math/precise_decimal.rs
  radix-engine-common/src/types/addresses/component_address.rs
  radix-engine-common/src/types/addresses/global_address.rs
  radix-engine-common/src/types/addresses/internal_address.rs
  radix-engine-common/src/types/addresses/package_address.rs
  radix-engine-common/src/types/addresses/resource_address.rs
  radix-engine-derive/src/scrypto_describe.rs
  radix-engine-interface/src/blueprints/resource/auth_zone.rs
  radix-engine-interface/src/blueprints/resource/bucket.rs
  radix-engine-interface/src/blueprints/resource/proof.rs
  radix-engine-interface/src/blueprints/resource/vault.rs
  radix-engine-interface/src/blueprints/resource/worktop.rs
  radix-engine-stores/src/hash_tree/tree_store.rs
  radix-engine-tests/tests/blueprints/data_validation/src/lib.rs
  radix-engine-tests/tests/metering.rs
  sbor-derive-common/src/describe.rs
  sbor-derive-common/src/utils.rs
  sbor-tests/tests/transparent.rs
  sbor/src/codec/array.rs
  sbor/src/codec/boolean.rs
  sbor/src/codec/collection.rs
  sbor/src/codec/integer.rs
  sbor/src/codec/misc.rs
  sbor/src/codec/option.rs
  sbor/src/codec/result.rs
  sbor/src/codec/string.rs
  sbor/src/codec/tuple.rs
  sbor/src/encoded_wrappers.rs
  sbor/src/schema/describe.rs
  sbor/src/schema/macros.rs
  sbor/src/schema/type_aggregator.rs
  sbor/src/schema/type_data/mod.rs
  sbor/src/schema/type_data/type_metadata.rs
  sbor/src/schema/type_link.rs
  sbor/src/schema/well_known_types.rs
  sbor/src/value.rs
  scrypto/src/component/component.rs
  scrypto/src/component/kv_store.rs
Labels: sbor

#1016 Feature/rename worktop instructions
  fuzz-tests/src/transaction.rs
  radix-engine-tests/benches/radiswap.rs
  radix-engine-tests/benches/spin_loop.rs
  radix-engine-tests/tests/access_controller.rs
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/arguments.rs
  radix-engine-tests/tests/auth_account.rs
  radix-engine-tests/tests/auth_resource.rs
  radix-engine-tests/tests/auth_vault.rs
  radix-engine-tests/tests/balance_changes.rs
  radix-engine-tests/tests/bucket.rs
  radix-engine-tests/tests/data_validation.rs
  radix-engine-tests/tests/epoch_manager.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine-tests/tests/fee.rs
  radix-engine-tests/tests/local_component.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/non_fungible.rs
  radix-engine-tests/tests/own.rs
  radix-engine-tests/tests/proof.rs
  radix-engine-tests/tests/resource.rs
  radix-engine-tests/tests/transaction.rs
  radix-engine/src/blueprints/transaction_processor/tx_processor.rs
  radix-engine/src/system/bootstrap.rs
  scrypto-unit/src/test_runner.rs
  simulator/src/resim/cmd_run.rs
  simulator/src/utils/common_instructions.rs
  simulator/tests/m2.rtm
  transaction/examples/access_controller/new.rtm
  transaction/examples/account/multi_account_resource_transfer.rtm
  transaction/examples/resources/auth_zone.rtm
  transaction/examples/resources/worktop.rtm
  transaction/examples/values/values.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/lexer.rs
  transaction/src/manifest/parser.rs
  transaction/src/model/instruction.rs
  transaction/src/model/notarized_transaction.rs
  transaction/src/validation/transaction_validator.rs
Labels: manifest, transaction

#1012 Introduce structure aware fuzzing
  .github/workflows/fuzzing.yml
  fuzz-tests/Cargo.toml
  fuzz-tests/fuzz.sh
  fuzz-tests/group_crashes.sh
  fuzz-tests/process_fuzz_results.sh
  fuzz-tests/src/fuzz_tx.rs
  fuzz-tests/src/transaction.rs
  radix-engine-common/Cargo.toml
  radix-engine-common/src/crypto/public_key.rs
  radix-engine-common/src/crypto/public_key_ecdsa_secp256k1.rs
  radix-engine-common/src/crypto/public_key_eddsa_ed25519.rs
  radix-engine-common/src/crypto/public_key_hash.rs
  radix-engine-common/src/data/manifest/custom_value.rs
  radix-engine-common/src/data/manifest/custom_value_kind.rs
  radix-engine-common/src/data/manifest/model/manifest_address.rs
  radix-engine-common/src/data/manifest/model/manifest_blob.rs
  radix-engine-common/src/data/manifest/model/manifest_bucket.rs
  radix-engine-common/src/data/manifest/model/manifest_decimal.rs
  radix-engine-common/src/data/manifest/model/manifest_expression.rs
  radix-engine-common/src/data/manifest/model/manifest_non_fungible_local_id.rs
  radix-engine-common/src/data/manifest/model/manifest_precise_decimal.rs
  radix-engine-common/src/data/manifest/model/manifest_proof.rs
  radix-engine-common/src/data/scrypto/custom_value.rs
  radix-engine-common/src/data/scrypto/custom_value_kind.rs
  radix-engine-common/src/data/scrypto/model/non_fungible_id_type.rs
  radix-engine-common/src/data/scrypto/model/non_fungible_local_id.rs
  radix-engine-common/src/data/scrypto/model/own.rs
  radix-engine-common/src/data/scrypto/model/reference.rs
  radix-engine-common/src/data/scrypto/schema_path.rs
  radix-engine-common/src/math/bnum_integer.rs
  radix-engine-common/src/math/decimal.rs
  radix-engine-common/src/math/precise_decimal.rs
  radix-engine-common/src/time/instant.rs
  radix-engine-common/src/types/addresses/global_address.rs
  radix-engine-common/src/types/addresses/internal_address.rs
  radix-engine-common/src/types/addresses/package_address.rs
  radix-engine-common/src/types/addresses/resource_address.rs
  radix-engine-common/src/types/node_and_substate.rs
  radix-engine-interface/Cargo.toml
  radix-engine-interface/src/api/node_modules/metadata/invocations.rs
  radix-engine-interface/src/api/object_api.rs
  radix-engine-interface/src/blueprints/access_controller/data.rs
  radix-engine-interface/src/blueprints/account/invocations.rs
  radix-engine-interface/src/blueprints/identity/invocations.rs
  radix-engine-interface/src/blueprints/resource/access_rules.rs
  radix-engine-interface/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/non_fungible_global_id.rs
  radix-engine-interface/src/blueprints/resource/proof_rule.rs
  radix-engine-interface/src/blueprints/resource/resource_manager.rs
  radix-engine-interface/src/types/royalty_config.rs
  sbor/Cargo.toml
  sbor/src/value.rs
  sbor/src/value_kind.rs
  transaction/Cargo.toml
  transaction/src/manifest/ast.rs
Labels: fuzzing

#1025 Feature: Access Controller recovery badge
  .vscode/settings.json
  native-sdk/src/component/mod.rs
  native-sdk/src/component/object.rs
  native-sdk/src/modules/metadata/metadata.rs
  radix-engine-interface/src/blueprints/access_controller/invocations.rs
  radix-engine-interface/src/blueprints/resource/non_fungible_global_id.rs
  radix-engine-tests/tests/access_controller.rs
  radix-engine/src/blueprints/access_controller/package.rs
  tx.file
Labels: substate

#1035 Pin AFL version to 0.12.17
  fuzz-tests/install_afl.sh
Labels: fuzzing

#1040 Feature: Account Deposit Modes
  .vscode/settings.json
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  radix-engine-interface/src/blueprints/account/invocations.rs
  radix-engine-interface/src/types/node_layout.rs
  radix-engine-queries/src/query/traverse.rs
  radix-engine-queries/src/typed_substate_layout.rs
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/common_transactions.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/account/blueprint.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/system/system.rs
  scrypto-unit/src/test_runner.rs
  transaction/examples/account/deposit_modes.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/enums.rs
Labels: substate, native-blueprint-interface

#1044 fix: Let 'resim show-ledger' list items as before
  radix-engine-stores/src/memory_db.rs
  radix-engine-stores/src/rocks_db.rs
  radix-engine/src/track/db_key_mapper.rs
  simulator/src/resim/cmd_show_ledger.rs
  simulator/tests/resim.sh
Labels: substate

#1039 Expand supported types for resource metadata
  assets/blueprints/genesis_helper/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  native-sdk/src/modules/metadata/metadata.rs
  native-sdk/src/resource/resource_manager.rs
  radix-engine-common/src/data/manifest/mod.rs
  radix-engine-common/src/data/scrypto/mod.rs
  radix-engine-interface/src/api/node_modules/metadata/invocations.rs
  radix-engine-interface/src/blueprints/package/invocations.rs
  radix-engine-interface/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/consensus_manager/consensus_manager.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/node_modules/metadata/package.rs
  radix-engine/src/system/system_modules/kernel_trace/module.rs
  sbor/src/basic.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/resource/resource_builder.rs
  simulator/src/resim/cmd_new_account.rs
  simulator/src/resim/cmd_new_badge_fixed.rs
  simulator/src/resim/cmd_new_badge_mutable.rs
  simulator/src/resim/cmd_new_simple_badge.rs
  simulator/src/resim/cmd_new_token_fixed.rs
  simulator/src/resim/cmd_new_token_mutable.rs
  transaction/examples/metadata/metadata.rtm
  transaction/examples/package/publish.rtm
  transaction/examples/resources/creation/fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/fungible/with_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/with_initial_supply.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/enums.rs
  transaction/src/manifest/generator.rs
Labels: manifest, transaction, native-blueprint-interface

#1055 Tweak/no address in create validator command
  transaction/examples/validator/new.rtm
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
Labels: manifest

#1059 feature: Duplicate keys cause decode error when doing a typed SBOR decode
  sbor/src/codec/collection.rs
  sbor/src/decoder.rs
Labels: sbor

#1062 tweak: Manifest enum variant aliases are idents
  transaction/examples/access_rule/access_rule.rtm
  transaction/examples/account/deposit_modes.rtm
  transaction/examples/metadata/metadata.rtm
  transaction/examples/resources/creation/fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/fungible/with_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/with_initial_supply.rtm
  transaction/examples/values/values.rtm
  transaction/src/manifest/ast.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/lexer.rs
  transaction/src/manifest/parser.rs
Labels: manifest

#1064 Tweak/manifest maps and semicolon change
  transaction/examples/resources/creation/fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/fungible/with_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/with_initial_supply.rtm
  transaction/examples/resources/mint/non_fungible/mint.rtm
  transaction/examples/royalty/royalty.rtm
  transaction/examples/values/values.rtm
  transaction/src/data/formatter.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/lexer.rs
  transaction/src/manifest/parser.rs
Labels: manifest

#1063 Feature/type checking for owned and global
  assets/blueprints/Cargo.lock
  assets/faucet.schema
  assets/faucet.wasm
  assets/flash_loan.schema
  assets/flash_loan.wasm
  assets/genesis_helper.schema
  assets/genesis_helper.wasm
  assets/metadata.schema
  assets/metadata.wasm
  assets/radiswap.schema
  assets/radiswap.wasm
  radix-engine-common/src/data/manifest/custom_validation.rs
  radix-engine-common/src/data/scrypto/custom_schema.rs
  radix-engine-common/src/data/scrypto/custom_validation.rs
  radix-engine-common/src/data/scrypto/custom_well_known_types.rs
  radix-engine-interface/src/api/key_value_store_api.rs
  radix-engine-interface/src/blueprints/resource/auth_zone.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/worktop.rs
  radix-engine-interface/src/types/blueprint.rs
  radix-engine-tests/tests/blueprints/data_validation/src/lib.rs
  radix-engine-tests/tests/blueprints/non_fungible/src/lib.rs
  radix-engine-tests/tests/blueprints/non_fungible/src/nf_data_with_global.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/non_fungible.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/system/node_modules/metadata/package.rs
  radix-engine/src/system/node_modules/type_info/package.rs
  radix-engine/src/system/payload_validation.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_callback.rs
  radix-engine/src/vm/scrypto_runtime.rs
  scrypto-derive/src/blueprint.rs
  scrypto-schema/src/lib.rs
  scrypto/Cargo.toml
  scrypto/src/component/component.rs
  scrypto/src/component/kv_store.rs
  scrypto/src/component/package.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/resource/resource_builder.rs
  scrypto/src/resource/resource_manager.rs
Labels: scrypto-lib, substate
