Repository radixdlt/radixdlt-scrypto, pull requests merged in 2023-08, with the labels that each got.

#1299 Fix decimal and precise decimal arithmetics
  radix-engine-common/src/math/decimal.rs
  radix-engine-common/src/math/precise_decimal.rs
  radix-engine-tests/tests/consensus_manager.rs
Labels: scrypto-lib

#1301 Features/SCRY-452 Blueprint and Wasm export names validation
  radix-engine-tests/tests/package.rs
  radix-engine-tests/tests/wasm_validation.rs
  radix-engine/Cargo.toml
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/vm/wasm/errors.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/wasm_validator.rs
Labels: scrypto-lib

#1310 Feature: Scrypto Reservation Address + BlueprintId fixes
  assets/blueprints/metadata/src/lib.rs
  assets/blueprints/radiswap/src/lib.rs
  radix-engine-tests/tests/blueprints/Cargo.toml
  radix-engine-tests/tests/blueprints/address/src/lib.rs
  radix-engine-tests/tests/blueprints/address_reservation/Cargo.toml
  radix-engine-tests/tests/blueprints/address_reservation/src/lib.rs
  radix-engine-tests/tests/blueprints/allocated_address/src/lib.rs
  radix-engine-tests/tests/scrypto_address_reservation.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  radix-engine/src/vm/wasm_runtime/no_op_runtime.rs
  radix-engine/src/vm/wasm_runtime/scrypto_runtime.rs
  scrypto/src/component/component.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/runtime/runtime.rs
Labels: scrypto-lib

#1313 Feature: Scrypto Blueprint Casting
  radix-engine-tests/tests/blueprints/Cargo.toml
  radix-engine-tests/tests/blueprints/cast/Cargo.toml
  radix-engine-tests/tests/blueprints/cast/src/lib.rs
  radix-engine-tests/tests/scrypto_cast.rs
  scrypto/src/component/component.rs
  scrypto/src/component/package.rs
Labels: scrypto-lib

#1296 Feature: Only allow transient blueprints to use references
  radix-engine-interface/src/blueprints/package/substates.rs
  radix-engine-tests/tests/min_resource_system.rs
  radix-engine-tests/tests/reference.rs
  radix-engine-tests/tests/system_reference.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/errors.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_callback.rs
  simulator/src/resim/cmd_publish.rs
Labels: substate

#1284 Architecture: Cleanup AuthZone
  assets/native_function_base_costs.csv
  native-sdk/src/resource/auth_zone.rs
  native-sdk/src/runtime/local_auth_zone.rs
  native-sdk/src/runtime/runtime.rs
  radix-engine-interface/src/api/system_modules/auth_api.rs
  radix-engine-interface/src/blueprints/resource/auth_zone.rs
  radix-engine-interface/src/blueprints/resource/non_fungible_global_id.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/auth_zone.rs
  radix-engine-tests/tests/worktop.rs
  radix-engine/src/blueprints/account/blueprint.rs
  radix-engine/src/blueprints/resource/auth_zone.rs
  radix-engine/src/blueprints/resource/auth_zone_substates.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/kernel/actor.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/kernel_callback_api.rs
  radix-engine/src/system/module.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_callback.rs
  radix-engine/src/system/system_modules/auth/auth_module.rs
  radix-engine/src/system/system_modules/auth/authorization.rs
  radix-engine/src/system/system_modules/costing/costing_entry.rs
  radix-engine/src/system/system_modules/costing/costing_module.rs
  radix-engine/src/system/system_modules/costing/fee_table.rs
  radix-engine/src/system/system_modules/execution_trace/module.rs
  radix-engine/src/system/system_modules/kernel_trace/module.rs
  radix-engine/src/system/system_modules/limits/module.rs
  radix-engine/src/system/system_modules/module_mixer.rs
  radix-engine/src/system/system_modules/transaction_runtime/module.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  radix-engine/src/vm/wasm_runtime/no_op_runtime.rs
  radix-engine/src/vm/wasm_runtime/scrypto_runtime.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/resource/auth_zone.rs
  scrypto/src/runtime/local_auth_zone.rs
  scrypto/src/runtime/runtime.rs
Labels: native-blueprint-interface

#1322 Cleanup authorized depositor badge behavior
  radix-engine-tests/tests/account_authorized_depositors.rs
  radix-engine/src/blueprints/account/blueprint.rs
  radix-engine/src/blueprints/account/package.rs
  transaction-scenarios/generated-examples/fungible_resource/005--fungible-max-div-freeze-withdraw.rtm
  transaction-scenarios/generated-examples/fungible_resource/006--fungible-max-div-freeze-deposit.rtm
  transaction-scenarios/generated-examples/fungible_resource/007--fungible-max-div-freeze-burn.rtm
  transaction-scenarios/generated-examples/fungible_resource/008--fungible-max-div-recall-frozen-vault.rtm
  transaction-scenarios/generated-examples/fungible_resource/009--fungible-max-div-unfreeze-withdraw.rtm
  transaction-scenarios/generated-examples/fungible_resource/010--fungible-max-div-unfreeze-deposit.rtm
  transaction-scenarios/generated-examples/fungible_resource/011--fungible-max-div-unfreeze-burn.rtm
  transaction-scenarios/generated-examples/fungible_resource/012--fungible-max-div-recall-unfrozen-vault.rtm
  transaction-scenarios/generated-examples/fungible_resource/013--fungible-max-div-freeze-withdraw-again.rtm
  transaction-scenarios/generated-examples/fungible_resource/021--fungible-min-div-recall-correct-granularity.rtm
  transaction-scenarios/generated-examples/fungible_resource/022--fungible-min-div-recall-wrong-granularity.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/008--non-fungible-resource-freeze-deposit.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/009--non-fungible-resource-freeze-deposit.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/010--non-fungible-resource-recall-frozen-vault.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/011--non-fungible-resource-unfreeze-withdraw.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/012--non-fungible-resource-unfreeze-deposit.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/013--non-fungible-resource-unfreeze-burn.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/014--non-fungible-resource-recall-unfrozen-vault.rtm
Labels: native-blueprint-interface

#1321 Account Events + Events clean up
  radix-engine-interface/src/blueprints/account/invocations.rs
  radix-engine-queries/src/typed_native_events.rs
  radix-engine-queries/src/typed_substate_layout.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/account_authorized_depositors.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/pool_multi_resource.rs
  radix-engine-tests/tests/pool_one_resource.rs
  radix-engine-tests/tests/pool_two_resource.rs
  radix-engine/src/blueprints/account/blueprint.rs
  radix-engine/src/blueprints/account/events.rs
  radix-engine/src/blueprints/account/mod.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/resource/events/fungible_vault.rs
  radix-engine/src/blueprints/resource/events/mod.rs
  radix-engine/src/blueprints/resource/events/non_fungible_vault.rs
  radix-engine/src/blueprints/resource/events/vault.rs
  radix-engine/src/blueprints/resource/fungible/fungible_vault.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_vault.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/system/node_modules/role_assignment/events.rs
  radix-engine/src/system/node_modules/role_assignment/package.rs
  radix-engine/src/utils/macros.rs
  scrypto-derive/src/blueprint.rs
  transaction-scenarios/generated-examples/fungible_resource/005--fungible-max-div-freeze-withdraw.rtm
  transaction-scenarios/generated-examples/fungible_resource/006--fungible-max-div-freeze-deposit.rtm
  transaction-scenarios/generated-examples/fungible_resource/007--fungible-max-div-freeze-burn.rtm
  transaction-scenarios/generated-examples/fungible_resource/008--fungible-max-div-recall-frozen-vault.rtm
  transaction-scenarios/generated-examples/fungible_resource/009--fungible-max-div-unfreeze-withdraw.rtm
  transaction-scenarios/generated-examples/fungible_resource/010--fungible-max-div-unfreeze-deposit.rtm
  transaction-scenarios/generated-examples/fungible_resource/011--fungible-max-div-unfreeze-burn.rtm
  transaction-scenarios/generated-examples/fungible_resource/012--fungible-max-div-recall-unfrozen-vault.rtm
  transaction-scenarios/generated-examples/fungible_resource/013--fungible-max-div-freeze-withdraw-again.rtm
  transaction-scenarios/generated-examples/fungible_resource/021--fungible-min-div-recall-correct-granularity.rtm
  transaction-scenarios/generated-examples/fungible_resource/022--fungible-min-div-recall-wrong-granularity.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/008--non-fungible-resource-freeze-deposit.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/009--non-fungible-resource-freeze-deposit.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/010--non-fungible-resource-recall-frozen-vault.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/011--non-fungible-resource-unfreeze-withdraw.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/012--non-fungible-resource-unfreeze-deposit.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/013--non-fungible-resource-unfreeze-burn.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/014--non-fungible-resource-recall-unfrozen-vault.rtm
Labels: native-blueprint-interface

#1323 Feature/formalize finalization costs
  assets/blueprints/faucet/src/lib.rs
  radix-engine-common/src/constants/transaction_execution.rs
  radix-engine-common/src/constants/transaction_validation.rs
  radix-engine-interface/src/api/system_modules/costing_api.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/blueprints/fee_reserve_states/src/lib.rs
  radix-engine-tests/tests/fee.rs
  radix-engine-tests/tests/fee_reserve_states.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/preview.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_modules/costing/costing_entry.rs
  radix-engine/src/system/system_modules/costing/costing_module.rs
  radix-engine/src/system/system_modules/costing/fee_reserve.rs
  radix-engine/src/system/system_modules/costing/fee_table.rs
  radix-engine/src/system/system_modules/limits/module.rs
  radix-engine/src/system/system_modules/module_mixer.rs
  radix-engine/src/track/interface.rs
  radix-engine/src/track/track.rs
  radix-engine/src/transaction/transaction_executor.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  radix-engine/src/vm/wasm_runtime/no_op_runtime.rs
  radix-engine/src/vm/wasm_runtime/scrypto_runtime.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/runtime/runtime.rs
  simulator/Cargo.lock
  transaction/src/validation/transaction_validator.rs
Labels: scrypto-lib

#1333 Fix codec for dynamic global address types
  fuzz-tests/README.md
  fuzz-tests/src/fuzz_tx.rs
  radix-engine-common/src/data/manifest/model/manifest_address.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/address.rs
  radix-engine-tests/tests/blueprints/address/src/lib.rs
  radix-engine-tests/tests/system_genesis_packages.rs
  radix-engine-tests/tests/transaction_executor.rs
  simulator/tests/resim.sh
  transaction/src/model/v1/instruction.rs
Labels: transaction

#1325 Refactor decimal model
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  radix-engine-common/benches/math/decimal.rs
  radix-engine-common/benches/math/main.rs
  radix-engine-common/benches/math/precise_decimal.rs
  radix-engine-common/src/data/manifest/custom_formatting.rs
  radix-engine-common/src/data/manifest/custom_serde.rs
  radix-engine-common/src/data/manifest/custom_validation.rs
  radix-engine-common/src/data/manifest/model/manifest_decimal.rs
  radix-engine-common/src/data/manifest/model/manifest_precise_decimal.rs
  radix-engine-common/src/data/scrypto/custom_value.rs
  radix-engine-common/src/macros.rs
  radix-engine-common/src/math/bnum_integer.rs
  radix-engine-common/src/math/bnum_integer/bits.rs
  radix-engine-common/src/math/bnum_integer/convert.rs
  radix-engine-common/src/math/bnum_integer/test.rs
  radix-engine-common/src/math/decimal.rs
  radix-engine-common/src/math/precise_decimal.rs
  radix-engine-common/tests/manifest_codec.rs
  radix-engine-interface/src/blueprints/resource/mod.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/auth_account.rs
  radix-engine-tests/tests/proof_creation.rs
  radix-engine-tests/tests/transaction_executor.rs
  radix-engine/src/blueprints/consensus_manager/validator.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
Labels: scrypto-lib, manifest, sbor

#1334 Rename Bnum integer types
  radix-engine-common/src/macros.rs
  radix-engine-common/src/math/bnum_integer.rs
  radix-engine-common/src/math/bnum_integer/bits.rs
  radix-engine-common/src/math/bnum_integer/convert.rs
  radix-engine-common/src/math/bnum_integer/test.rs
  radix-engine-common/src/math/decimal.rs
  radix-engine-common/src/math/precise_decimal.rs
  radix-engine-interface/src/blueprints/resource/mod.rs
  radix-engine-tests/tests/auth_account.rs
  radix-engine/src/blueprints/consensus_manager/validator.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
Labels: scrypto-lib

#1342 Refactor decimal overflow handling
  assets/blueprints/flash_loan/src/lib.rs
  assets/blueprints/genesis_helper/src/lib.rs
  assets/blueprints/radiswap/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/radiswap.wasm
  radix-engine-common/benches/math/decimal.rs
  radix-engine-common/benches/math/macros.rs
  radix-engine-common/benches/math/precise_decimal.rs
  radix-engine-common/src/data/scrypto/custom_formatting.rs
  radix-engine-common/src/data/scrypto/custom_serde.rs
  radix-engine-common/src/macros.rs
  radix-engine-common/src/math/bnum_integer.rs
  radix-engine-common/src/math/decimal.rs
  radix-engine-common/src/math/mod.rs
  radix-engine-common/src/math/precise_decimal.rs
  radix-engine-common/src/math/traits.rs
  radix-engine-interface/src/blueprints/consensus_manager/invocations.rs
  radix-engine-interface/src/blueprints/resource/resource.rs
  radix-engine-queries/src/query/accounter.rs
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/balance_changes.rs
  radix-engine-tests/tests/blueprints/local_recursion/src/lib.rs
  radix-engine-tests/tests/bootstrap.rs
  radix-engine-tests/tests/consensus_manager.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine-tests/tests/fee.rs
  radix-engine-tests/tests/fee_reserve_states.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/pool_two_resource.rs
  radix-engine-tests/tests/preview.rs
  radix-engine-tests/tests/recallable.rs
  radix-engine-tests/tests/royalty.rs
  radix-engine/benches/wasm_benchmarks.rs
  radix-engine/src/blueprints/consensus_manager/consensus_manager.rs
  radix-engine/src/blueprints/consensus_manager/validator.rs
  radix-engine/src/blueprints/pool/multi_resource_pool/blueprint.rs
  radix-engine/src/blueprints/pool/one_resource_pool/blueprint.rs
  radix-engine/src/blueprints/pool/two_resource_pool/blueprint.rs
  radix-engine/src/blueprints/resource/auth_zone/auth_zone_composition.rs
  radix-engine/src/blueprints/resource/fungible/fungible_bucket.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/fungible/fungible_vault.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_bucket.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_vault.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  radix-engine/src/system/system_modules/costing/fee_reserve.rs
  radix-engine/src/system/system_modules/costing/fee_summary.rs
  radix-engine/src/system/system_modules/execution_trace/module.rs
  radix-engine/src/transaction/state_update_summary.rs
  radix-engine/src/transaction/transaction_executor.rs
  radix-engine/src/transaction/transaction_receipt.rs
  radix-engine/wasm-benchmarks-lib/src/decimal.rs
  radix-engine/wasm-benchmarks-lib/src/precise_decimal.rs
  scrypto-tests/tests/math.rs
  scrypto-unit/src/test_runner.rs
Labels: scrypto-lib

#1364 Feature: Add Bech32EncodeAddress API
  radix-engine-interface/src/api/system_modules/transaction_runtime_api.rs
  radix-engine-tests/tests/blueprints/scrypto_env/src/lib.rs
  radix-engine-tests/tests/kernel_open_substate.rs
  radix-engine-tests/tests/scrypto_env.rs
  radix-engine/src/errors.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_modules/module_mixer.rs
  radix-engine/src/system/system_modules/transaction_runtime/module.rs
  radix-engine/src/transaction/transaction_executor.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/errors.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmi.rs
  radix-engine/src/vm/wasm_runtime/no_op_runtime.rs
  radix-engine/src/vm/wasm_runtime/scrypto_runtime.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/engine/wasm_api.rs
  scrypto/src/runtime/runtime.rs
Labels: scrypto-lib

#1365 Adjust mint limit to 2^152
  radix-engine-tests/tests/common_transactions.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
Labels: transaction

#1368 Feature: Allow ResourceManager to burn any Into<Bucket>
  scrypto/src/resource/resource_manager.rs
Labels: scrypto-lib

#1377 Cleanup Component royalty substate
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  radix-engine-interface/src/api/node_modules/royalty/substates.rs
  radix-engine-interface/src/types/royalty_config.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/auth_account.rs
  radix-engine-tests/tests/bootstrap.rs
  radix-engine-tests/tests/system_module_methods.rs
  radix-engine/src/blueprints/account/blueprint.rs
  radix-engine/src/blueprints/consensus_manager/consensus_manager.rs
  radix-engine/src/blueprints/consensus_manager/validator.rs
  radix-engine/src/blueprints/transaction_tracker/package.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  scrypto/src/component/component.rs
  transaction-scenarios/generated-examples/metadata/001--metadata-create-package-with-metadata-98f1e982a2cb73567c7d9f8b2212e0679cbdf28b51850db9e4b358982c463c3f.blob
  transaction-scenarios/generated-examples/metadata/001--metadata-create-package-with-metadata-e25e087f021a76d6844400748e6ec4432242060b51e358b6f270ac08a5c8b142.blob
  transaction-scenarios/generated-examples/metadata/001--metadata-create-package-with-metadata.rtm
  transaction-scenarios/generated-examples/metadata/002--metadata-create-component-with-metadata.rtm
  transaction-scenarios/generated-examples/radiswap/003--radiswap-publish-and-create-pools-3c294c67d70044e34555cfd578f9b34da94649b4c1e350de8162e0e10c1f7015.blob
  transaction-scenarios/generated-examples/radiswap/003--radiswap-publish-and-create-pools-f0598f2fb254bb279d8894b12fdbb1ccdba2e03fa8f8c5fb8bf19ee50fd0c885.blob
  transaction-scenarios/generated-examples/radiswap/003--radiswap-publish-and-create-pools.rtm
  transaction-scenarios/generated-examples/radiswap/004--radiswap-add-liquidity.rtm
  transaction-scenarios/generated-examples/radiswap/005--radiswap-distribute-tokens.rtm
  transaction-scenarios/generated-examples/radiswap/006--radiswap-swap-tokens.rtm
  transaction-scenarios/generated-examples/radiswap/007--radiswap-remove-tokens.rtm
  transaction-scenarios/generated-examples/radiswap/008--radiswap-set-two-way-linking.rtm
Labels: substate

#1379 Architecture: Transaction Tracker Version Wrappers
  radix-engine/src/blueprints/transaction_tracker/package.rs
  radix-engine/src/transaction/transaction_executor.rs
Labels: substate
