Repository radixdlt/radixdlt-scrypto, pull requests merged in 2023-07, with the labels that each got.

#1215 Add royalty roles
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  examples/everything/src/lib.rs
  radix-engine-interface/src/api/node_modules/royalty/invocations.rs
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/blueprints/balance_changes/src/lib.rs
  radix-engine-tests/tests/blueprints/royalty/src/lib.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  scrypto/src/modules/royalty.rs
  transaction-scenarios/generated-examples/metadata/001--metadata-create-package-with-metadata-260e366d869dfb498cefc9e4c97d0ddc9cf059101b5ca5a1c6c6d3ab54bf49cb.blob
  transaction-scenarios/generated-examples/metadata/001--metadata-create-package-with-metadata-9967f417974b3fe45934b39029b8899f0b0e234ed3edc417b6ae3f8793a4a457.blob
  transaction-scenarios/generated-examples/metadata/001--metadata-create-package-with-metadata.rtm
  transaction-scenarios/generated-examples/metadata/002--metadata-create-component-with-metadata.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/010--non-fungible-resource-recall-frozen-vault.rtm
  transaction-scenarios/generated-examples/non_fungible_resource/014--non-fungible-resource-recall-unfrozen-vault.rtm
  transaction-scenarios/generated-examples/radiswap/002--radiswap-publish-and-create-pools-144063760b8c8210f1c22790ede7d7ae6eb1f19e477ff33c66700b72152c41ab.blob
  transaction-scenarios/generated-examples/radiswap/002--radiswap-publish-and-create-pools-d2f768badf82de1b8c73ba3050757d1369b25bc1d9f250f366fc2d6f2840fd2e.blob
  transaction-scenarios/generated-examples/radiswap/002--radiswap-publish-and-create-pools.rtm
  transaction-scenarios/generated-examples/radiswap/003--radiswap-add-liquidity.rtm
  transaction-scenarios/generated-examples/radiswap/004--radiswap-distribute-tokens.rtm
  transaction-scenarios/generated-examples/radiswap/005--radiswap-swap-tokens.rtm
  transaction-scenarios/generated-examples/radiswap/006--radiswap-remove-tokens.rtm
Labels: scrypto-lib

#1217 Architecture: Remove Resource Package Role
  radix-engine-interface/src/blueprints/resource/access_rules.rs
  radix-engine-interface/src/blueprints/resource/resource_manager.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/system/system_modules/auth/auth_module.rs
Labels: substate

#1237 Feature/remove schema path
  radix-engine-common/src/data/scrypto/mod.rs
  radix-engine-common/src/data/scrypto/schema_path.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_mid_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/tests/non_fungible.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  transaction/examples/resources/creation/non_fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/with_initial_supply.rtm
  transaction/src/manifest/e2e.rs
Labels: substate

#1253 Architecture: Cleanup Non Fungible Take + Index
  radix-engine-common/src/types/node_and_substate.rs
  radix-engine-interface/src/api/actor_index_api.rs
  radix-engine-queries/src/query/traverse.rs
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_vault.rs
  radix-engine/src/errors.rs
  radix-engine/src/kernel/call_frame.rs
  radix-engine/src/kernel/heap.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/kernel/kernel_api.rs
  radix-engine/src/kernel/kernel_callback_api.rs
  radix-engine/src/system/module.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_callback.rs
  radix-engine/src/system/system_modules/costing/costing_entry.rs
  radix-engine/src/system/system_modules/costing/costing_module.rs
  radix-engine/src/system/system_modules/costing/fee_table.rs
  radix-engine/src/system/system_modules/limits/module.rs
  radix-engine/src/system/system_modules/module_mixer.rs
  radix-engine/src/track/interface.rs
  radix-engine/src/track/track.rs
  radix-engine/src/transaction/state_update_summary.rs
  scrypto-unit/src/test_runner.rs
Labels: substate

#1271 Update DROP_XXX_PROOFS instructions
  assets/blueprints/Cargo.lock
  assets/flash_loan.wasm
  assets/native_function_base_costs.csv
  fuzz-tests/src/fuzz_tx.rs
  native-sdk/src/resource/auth_zone.rs
  native-sdk/src/resource/mod.rs
  native-sdk/src/runtime/local_auth_zone.rs
  radix-engine-interface/src/blueprints/resource/auth_zone.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_mint_large_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_mint_small_size_nfts_from_manifest.csv
  radix-engine-tests/assets/cost_publish_large_package.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/assets/cost_transfer_to_virtual_account.csv
  radix-engine-tests/tests/blueprints/proof_creation/src/lib.rs
  radix-engine-tests/tests/consensus_manager.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine-tests/tests/instructions.rs
  radix-engine-tests/tests/preview.rs
  radix-engine-tests/tests/transaction_executor.rs
  radix-engine-tests/tests/transaction_tacker.rs
  radix-engine/src/blueprints/resource/auth_zone.rs
  radix-engine/src/blueprints/resource/auth_zone_substates.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/transaction_processor/tx_processor.rs
  scrypto/src/resource/auth_zone.rs
  scrypto/src/resource/mod.rs
  scrypto/src/runtime/local_auth_zone.rs
  simulator/Cargo.lock
  simulator/tests/m2.rtm
  transaction/Cargo.toml
  transaction/examples/resources/auth_zone.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/builder/transaction_builder.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
  transaction/src/model/v1/instruction.rs
  transaction/src/model/versioned.rs
  transaction/src/validation/id_validator.rs
  transaction/src/validation/transaction_validator.rs
Labels: manifest, transaction, native-blueprint-interface
