Repository radixdlt/radixdlt-scrypto, pull requests merged in 2023-06, with the labels that each got.

#1068 Feature: Scrypto Static Dependencies
  assets/blueprints/Cargo.lock
  assets/faucet.schema
  assets/faucet.wasm
  assets/flash_loan.schema
  assets/flash_loan.wasm
  assets/genesis_helper.schema
  assets/genesis_helper.wasm
  assets/metadata.schema
  assets/metadata.wasm
  assets/radiswap.schema
  assets/radiswap.wasm
  examples/hello-world/Cargo.lock
  examples/no-std/Cargo.lock
  radix-engine-common/src/address/decoder.rs
  radix-engine-interface/src/blueprints/package/invocations.rs
  radix-engine-interface/src/blueprints/package/substates.rs
  radix-engine-tests/tests/blueprints/Cargo.toml
  radix-engine-tests/tests/blueprints/package/src/lib.rs
  radix-engine-tests/tests/blueprints/package_schema/src/lib.rs
  radix-engine-tests/tests/blueprints/static_dependencies/Cargo.toml
  radix-engine-tests/tests/blueprints/static_dependencies/src/component_dependency.rs
  radix-engine-tests/tests/blueprints/static_dependencies/src/lib.rs
  radix-engine-tests/tests/blueprints/static_dependencies/src/package_dependency.rs
  radix-engine-tests/tests/blueprints/static_dependencies2/Cargo.toml
  radix-engine-tests/tests/blueprints/static_dependencies2/src/lib.rs
  radix-engine-tests/tests/cross_package_call.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/package.rs
  radix-engine-tests/tests/static_dependencies.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/consensus_manager/package.rs
  radix-engine/src/blueprints/identity/package.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/transaction_processor/package.rs
  radix-engine/src/kernel/call_frame.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  radix-engine/src/system/node_modules/metadata/package.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  radix-engine/src/vm/wasm/prepare.rs
  scrypto-derive/Cargo.toml
  scrypto-derive/src/ast.rs
  scrypto-derive/src/blueprint.rs
  scrypto-schema/src/lib.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/resource/resource_manager.rs
  simulator/src/resim/cmd_publish.rs
Labels: scrypto-lib, substate

#1072 Feature: Vault Freeze
  fuzz-tests/src/fuzz_tx.rs
  radix-engine-interface/src/api/object_api.rs
  radix-engine-interface/src/blueprints/resource/resource_manager.rs
  radix-engine-interface/src/blueprints/resource/vault.rs
  radix-engine-tests/tests/auth_mutability.rs
  radix-engine-tests/tests/auth_resource.rs
  radix-engine-tests/tests/blueprints/royalty-auth/src/lib.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/vault_freeze.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/fungible/fungible_vault.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_vault.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/blueprints/resource/vault_common.rs
  radix-engine/src/blueprints/transaction_processor/tx_processor.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_modules/auth/auth_module.rs
  radix-engine/src/transaction/transaction_executor.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/engine/scrypto_env.rs
  scrypto/src/resource/resource_builder.rs
  scrypto/src/resource/resource_manager.rs
  scrypto/src/runtime/runtime.rs
  transaction/examples/resources/recall.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
  transaction/src/model/v1/instruction.rs
  transaction/src/validation/transaction_validator.rs
Labels: scrypto-lib, manifest, transaction

#1077 Fuzzing updates and some tweaks
  .github/workflows/ci.yml
  assets/blueprints/Cargo.lock
  examples/hello-world/Cargo.lock
  examples/no-std/Cargo.lock
  fuzz-tests/Cargo.toml
  fuzz-tests/group_crashes.sh
  fuzz-tests/src/common.rs
  fuzz-tests/src/fuzz_tx.rs
  fuzz-tests/src/transaction.rs
  radix-engine-common/Cargo.toml
  radix-engine-interface/src/api/node_modules/auth/access_rules/invocations.rs
  simulator/Cargo.lock
  test.sh
Labels: fuzzing

#1087 Feature: Scrypto Package Royalties
  assets/blueprints/flash_loan/src/lib.rs
  assets/blueprints/radiswap/src/lib.rs
  assets/faucet.schema
  assets/faucet.wasm
  assets/flash_loan.schema
  assets/flash_loan.wasm
  assets/genesis_helper.schema
  assets/genesis_helper.wasm
  assets/metadata.schema
  assets/metadata.wasm
  assets/radiswap.schema
  assets/radiswap.wasm
  radix-engine-interface/src/blueprints/package/invocations.rs
  radix-engine-tests/benches/radiswap.rs
  radix-engine-tests/tests/blueprints/package/src/lib.rs
  radix-engine-tests/tests/blueprints/package_schema/src/lib.rs
  radix-engine-tests/tests/deep_sbor.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/metadata_package.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/package.rs
  radix-engine-tests/tests/static_dependencies.rs
  radix-engine-tests/tests/transaction.rs
  radix-engine-tests/tests/transaction_limits.rs
  radix-engine-tests/tests/wasm_metering.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/consensus_manager/package.rs
  radix-engine/src/blueprints/identity/package.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/pool/package.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/transaction_processor/package.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  radix-engine/src/system/node_modules/metadata/package.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  radix-engine/src/utils/package_extractor.rs
  scrypto-derive/src/blueprint.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/component/component.rs
  scrypto/src/macros.rs
  scrypto/src/prelude/mod.rs
  transaction/examples/package/publish.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/e2e.rs
Labels: scrypto-lib, substate

#1098 Feature: Named Address and Address Allocation in Manifest
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  fuzz-tests/src/fuzz_tx.rs
  radix-engine-common/src/data/manifest/custom_extension.rs
  radix-engine-common/src/data/manifest/custom_formatting.rs
  radix-engine-common/src/data/manifest/custom_serde.rs
  radix-engine-common/src/data/manifest/custom_validation.rs
  radix-engine-common/src/data/manifest/custom_value.rs
  radix-engine-common/src/data/manifest/custom_value_kind.rs
  radix-engine-common/src/data/manifest/display_context.rs
  radix-engine-common/src/data/manifest/model/manifest_address.rs
  radix-engine-common/src/data/manifest/model/manifest_address_reservation.rs
  radix-engine-common/src/data/manifest/model/manifest_non_fungible_local_id.rs
  radix-engine-common/src/data/manifest/model/mod.rs
  radix-engine-common/src/data/scrypto/custom_schema.rs
  radix-engine-common/src/types/addresses/component_address.rs
  radix-engine-common/src/types/addresses/global_address.rs
  radix-engine-common/src/types/addresses/internal_address.rs
  radix-engine-common/src/types/addresses/package_address.rs
  radix-engine-common/src/types/addresses/resource_address.rs
  radix-engine-common/tests/manfiest_codec.rs
  radix-engine-interface/src/blueprints/consensus_manager/invocations.rs
  radix-engine-interface/src/blueprints/package/invocations.rs
  radix-engine-interface/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine-tests/tests/bootstrap.rs
  radix-engine-tests/tests/common_transactions.rs
  radix-engine-tests/tests/consensus_manager.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/static_dependencies.rs
  radix-engine-tests/tests/transaction.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/transaction_processor/tx_processor.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/id_allocation.rs
  radix-engine/src/utils/native_blueprint_call_validator.rs
  scrypto-unit/src/test_runner.rs
  simulator/src/resim/cmd_new_account.rs
  simulator/src/resim/cmd_new_simple_badge.rs
  simulator/src/utils/common_instructions.rs
  transaction/examples/address_allocation/allocate_address.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/data/formatter.rs
  transaction/src/data/transformer.rs
  transaction/src/errors.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
  transaction/src/model/preparation/references.rs
  transaction/src/model/v1/instruction.rs
  transaction/src/model/versioned.rs
  transaction/src/validation/id_allocator.rs
  transaction/src/validation/id_validator.rs
  transaction/src/validation/transaction_validator.rs
Labels: manifest, sbor, transaction

#1085 Enable support for WASM sign-ext opcodes
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/fuzzing.yml
  radix-engine-tests/Cargo.toml
  radix-engine-tests/tests/blueprints/Cargo.toml
  radix-engine-tests/tests/blueprints/wasm_non_mvp/Cargo.toml
  radix-engine-tests/tests/blueprints/wasm_non_mvp/src/lib.rs
  radix-engine-tests/tests/wasm/mutable_globals_export.wat
  radix-engine-tests/tests/wasm/mutable_globals_import.wat
  radix-engine-tests/tests/wasm/sign_extensions.wat
  radix-engine-tests/tests/wasm_non_mvp.rs
  radix-engine-tests/tests/wasm_prepare.rs
  radix-engine/Cargo.toml
  radix-engine/src/vm/wasm/cost_rules.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/wasmi.rs
  scrypto-unit/src/test_runner.rs
  simulator/Cargo.lock
Labels: bug

#1112 Feature: distribute fees and tips to validators
  assets/blueprints/Cargo.lock
  radix-engine-constants/src/lib.rs
  radix-engine-interface/src/blueprints/consensus_manager/invocations.rs
  radix-engine-interface/src/types/node_layout.rs
  radix-engine-queries/src/typed_substate_layout.rs
  radix-engine-tests/tests/balance_changes.rs
  radix-engine-tests/tests/bootstrap.rs
  radix-engine-tests/tests/consensus_manager.rs
  radix-engine-tests/tests/wasm_non_mvp.rs
  radix-engine/src/blueprints/consensus_manager/consensus_manager.rs
  radix-engine/src/blueprints/consensus_manager/events/validator.rs
  radix-engine/src/blueprints/consensus_manager/package.rs
  radix-engine/src/blueprints/consensus_manager/validator.rs
  radix-engine/src/errors.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/module_mixer.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_callback.rs
  radix-engine/src/system/system_modules/auth/auth_module.rs
  radix-engine/src/system/system_modules/costing/costing_module.rs
  radix-engine/src/system/system_modules/costing/fee_reserve.rs
  radix-engine/src/system/system_modules/costing/fee_summary.rs
  radix-engine/src/system/system_modules/execution_trace/module.rs
  radix-engine/src/system/system_modules/transaction_limits/module.rs
  radix-engine/src/transaction/transaction_executor.rs
  scrypto-unit/src/test_runner.rs
  simulator/src/resim/mod.rs
Labels: substate, native-blueprint-interface

#1119 Add transaction replay protection in engine
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  radix-engine-common/src/address/hrpset.rs
  radix-engine-common/src/native_addresses.rs
  radix-engine-common/src/types/entity_type.rs
  radix-engine-interface/src/blueprints/package/substates.rs
  radix-engine-interface/src/blueprints/transaction_processor/invocations.rs
  radix-engine-interface/src/constants.rs
  radix-engine-interface/src/types/node_layout.rs
  radix-engine-queries/src/typed_substate_layout.rs
  radix-engine-tests/benches/radiswap.rs
  radix-engine-tests/benches/resources_usage.rs
  radix-engine-tests/tests/bootstrap.rs
  radix-engine-tests/tests/execution_trace.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/preview.rs
  radix-engine-tests/tests/transaction_tacker.rs
  radix-engine/src/blueprints/mod.rs
  radix-engine/src/blueprints/native_schema.rs
  radix-engine/src/blueprints/transaction_processor/tx_processor.rs
  radix-engine/src/blueprints/transaction_tracker/mod.rs
  radix-engine/src/blueprints/transaction_tracker/package.rs
  radix-engine/src/errors.rs
  radix-engine/src/kernel/kernel.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/system_modules/events/module.rs
  radix-engine/src/system/system_modules/execution_trace/module.rs
  radix-engine/src/system/system_modules/logger/module.rs
  radix-engine/src/system/system_modules/transaction_limits/module.rs
  radix-engine/src/track/interface.rs
  radix-engine/src/track/track.rs
  radix-engine/src/transaction/transaction_executor.rs
  radix-engine/src/transaction/transaction_receipt.rs
  radix-engine/src/utils/native_blueprint_call_validator.rs
  radix-engine/src/vm/native_vm.rs
  scrypto-unit/src/test_runner.rs
  simulator/src/resim/mod.rs
  transaction-scenarios/src/scenario.rs
  transaction/src/manifest/e2e.rs
  transaction/src/model/executable.rs
  transaction/src/model/v1/preview_transaction.rs
  transaction/src/model/v1/system_transaction.rs
  transaction/src/model/v1/test_transaction.rs
  transaction/src/model/v1/validated_notarized_transaction.rs
  transaction/src/validation/transaction_validator.rs
Labels: transaction, substate, native-blueprint-interface

#1117 Refactor manifest compile/decompile error handling
  fuzz-tests/src/fuzz_tx.rs
  radix-engine-common/src/data/manifest/mod.rs
  radix-engine-common/src/macros.rs
  radix-engine-tests/tests/access_controller.rs
  radix-engine-tests/tests/account.rs
  radix-engine-tests/tests/account_deposit_modes.rs
  radix-engine-tests/tests/clock.rs
  radix-engine-tests/tests/consensus_manager.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/identity.rs
  radix-engine-tests/tests/multi_resource_pool.rs
  radix-engine-tests/tests/one_resource_pool.rs
  radix-engine-tests/tests/package_schema.rs
  radix-engine-tests/tests/transaction.rs
  radix-engine-tests/tests/two_resource_pool.rs
  radix-engine/src/system/bootstrap.rs
  scrypto-unit/src/test_runner.rs
  simulator/src/resim/cmd_new_account.rs
  simulator/src/resim/cmd_new_simple_badge.rs
  simulator/src/resim/cmd_show_ledger.rs
  simulator/src/utils/common_instructions.rs
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/compiler.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
Labels: manifest

#1130 Feature: Lock Royalty
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  fuzz-tests/src/fuzz_tx.rs
  radix-engine-interface/src/api/node_modules/royalty/invocations.rs
  radix-engine-tests/tests/blueprints/royalty-auth/src/lib.rs
  radix-engine-tests/tests/cached_wasm_limits.rs
  radix-engine-tests/tests/royalty.rs
  radix-engine-tests/tests/royalty_auth.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  scrypto/src/component/component.rs
  scrypto/src/component/package.rs
  scrypto/src/modules/royalty.rs
  transaction/examples/call/call_method.rtm
  transaction/examples/royalty/royalty.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
Labels: scrypto-lib

#1133 Feature: Remote Vault Freezing
  native-sdk/src/resource/resource_manager.rs
  radix-engine-interface/src/blueprints/resource/access_rules.rs
  radix-engine-interface/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/mod.rs
  radix-engine-interface/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine-interface/src/blueprints/resource/resource.rs
  radix-engine-interface/src/blueprints/resource/resource_manager.rs
  radix-engine-interface/src/blueprints/resource/vault.rs
  radix-engine-tests/tests/auth_mutability.rs
  radix-engine-tests/tests/auth_resource.rs
  radix-engine-tests/tests/blueprints/package_schema/src/lib.rs
  radix-engine-tests/tests/common_transactions.rs
  radix-engine-tests/tests/events.rs
  radix-engine-tests/tests/metering.rs
  radix-engine-tests/tests/resource.rs
  radix-engine-tests/tests/vault_freeze.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/fungible/fungible_vault.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_vault.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  scrypto-unit/src/test_runner.rs
  scrypto/src/resource/resource_builder.rs
  scrypto/src/resource/resource_manager.rs
  simulator/src/resim/cmd_new_account.rs
  simulator/src/resim/cmd_new_simple_badge.rs
  transaction/examples/resources/creation/fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/fungible/with_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/with_initial_supply.rtm
  transaction/examples/resources/freeze.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/enums.rs
  transaction/src/manifest/generator.rs
Labels: substate

#1134 Feature: Lock Roles
  assets/blueprints/genesis_helper/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  fuzz-tests/src/fuzz_tx.rs
  native-sdk/src/modules/access_rules/access_rules.rs
  radix-engine-interface/src/api/node_modules/auth/access_rules/invocations.rs
  radix-engine-interface/src/blueprints/resource/access_rules.rs
  radix-engine-interface/src/blueprints/resource/resource_manager.rs
  radix-engine-interface/src/macros.rs
  radix-engine-tests/tests/access_rules.rs
  radix-engine-tests/tests/auth_mutability.rs
  radix-engine-tests/tests/auth_resource.rs
  radix-engine-tests/tests/blueprints/access_rules/src/mutable_access_rules.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/consensus_manager/consensus_manager.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/blueprints/util/securify.rs
  radix-engine/src/system/node_modules/access_rules/events.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  scrypto/src/macros.rs
  scrypto/src/modules/access_rules.rs
  scrypto/src/resource/resource_manager.rs
  transaction/examples/access_rule/access_rule.rtm
  transaction/src/builder/manifest_builder.rs
  transaction/src/manifest/ast.rs
  transaction/src/manifest/decompiler.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
  transaction/src/manifest/parser.rs
Labels: scrypto-lib, transaction

#1147 Feature: Static updaters
  assets/blueprints/genesis_helper/src/lib.rs
  assets/blueprints/metadata/src/lib.rs
  assets/faucet.schema
  assets/faucet.wasm
  assets/flash_loan.schema
  assets/flash_loan.wasm
  assets/genesis_helper.schema
  assets/genesis_helper.wasm
  assets/metadata.schema
  assets/metadata.wasm
  assets/radiswap.schema
  assets/radiswap.wasm
  native-sdk/src/modules/access_rules/access_rules.rs
  radix-engine-interface/src/api/node_modules/auth/access_rules/invocations.rs
  radix-engine-interface/src/blueprints/package/invocations.rs
  radix-engine-interface/src/blueprints/resource/access_rules.rs
  radix-engine-interface/src/blueprints/resource/resource_manager.rs
  radix-engine-interface/src/macros.rs
  radix-engine-interface/src/types/node_layout.rs
  radix-engine-queries/src/typed_substate_layout.rs
  radix-engine-tests/benches/radiswap.rs
  radix-engine-tests/benches/transfer.rs
  radix-engine-tests/tests/access_rules.rs
  radix-engine-tests/tests/auth_account.rs
  radix-engine-tests/tests/blueprints/access_rules/src/mutable_access_rules.rs
  radix-engine-tests/tests/blueprints/deep_sbor/src/deep_authrules_on_create.rs
  radix-engine-tests/tests/blueprints/deep_sbor/src/deep_struct.rs
  radix-engine-tests/tests/blueprints/metadata_component/src/lib.rs
  radix-engine-tests/tests/blueprints/royalty-auth/src/lib.rs
  radix-engine-tests/tests/instructions.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/account/package.rs
  radix-engine/src/blueprints/consensus_manager/consensus_manager.rs
  radix-engine/src/blueprints/consensus_manager/package.rs
  radix-engine/src/blueprints/identity/package.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/pool/multi_resource_pool/blueprint.rs
  radix-engine/src/blueprints/pool/one_resource_pool/blueprint.rs
  radix-engine/src/blueprints/pool/package.rs
  radix-engine/src/blueprints/pool/two_resource_pool/blueprint.rs
  radix-engine/src/blueprints/resource/package.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/blueprints/transaction_tracker/package.rs
  radix-engine/src/blueprints/util/securify.rs
  radix-engine/src/system/node_modules/access_rules/events.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  radix-engine/src/system/node_modules/metadata/package.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  radix-engine/src/system/system_modules/auth/auth_module.rs
  radix-engine/src/system/system_modules/auth/authorization.rs
  radix-engine/src/utils/macros.rs
  scrypto-derive/src/blueprint.rs
  scrypto/src/macros.rs
  scrypto/src/modules/metadata.rs
  scrypto/src/prelude/mod.rs
  simulator/tests/blueprints/src/proofs.rs
  transaction/src/builder/manifest_builder.rs
Labels: scrypto-lib, substate

#1148 Feature: Add ability to lock Metadata during init in Scrypto
  assets/blueprints/genesis_helper/src/lib.rs
  assets/blueprints/metadata/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  radix-engine-interface/src/api/node_modules/metadata/invocations.rs
  radix-engine-interface/src/api/node_modules/royalty/invocations.rs
  radix-engine-tests/tests/blueprints/access_rules/src/mutable_access_rules.rs
  radix-engine-tests/tests/blueprints/allocated_address/src/lib.rs
  radix-engine-tests/tests/blueprints/balance_changes/src/lib.rs
  radix-engine-tests/tests/blueprints/component/src/cross_component.rs
  radix-engine-tests/tests/blueprints/metadata_component/src/lib.rs
  radix-engine-tests/tests/blueprints/package_token/src/lib.rs
  radix-engine-tests/tests/blueprints/royalty-auth/src/lib.rs
  radix-engine-tests/tests/blueprints/royalty/src/lib.rs
  radix-engine-tests/tests/metering.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/pool/multi_resource_pool/blueprint.rs
  radix-engine/src/blueprints/pool/one_resource_pool/blueprint.rs
  radix-engine/src/blueprints/pool/two_resource_pool/blueprint.rs
  radix-engine/src/system/bootstrap.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  scrypto/src/component/component.rs
  scrypto/src/macros.rs
  scrypto/src/modules/metadata.rs
  scrypto/src/modules/royalty.rs
  scrypto/src/prelude/mod.rs
  simulator/src/resim/cmd_new_account.rs
  simulator/tests/blueprints/src/proofs.rs
  transaction/src/manifest/generator.rs
Labels: scrypto-lib

#1175 Feature: Locked Initialized Empty Metadata
  assets/blueprints/metadata/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.schema
  assets/metadata.wasm
  assets/radiswap.wasm
  radix-engine-interface/src/api/node_modules/metadata/invocations.rs
  radix-engine-interface/src/api/node_modules/metadata/mod.rs
  radix-engine-interface/src/api/object_api.rs
  radix-engine-interface/src/types/kv_store_init.rs
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/tests/metadata.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/blueprints/resource/non_fungible/non_fungible_resource_manager.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  radix-engine/src/system/node_modules/metadata/package.rs
  radix-engine/src/system/node_modules/royalty/package.rs
  radix-engine/src/system/system.rs
  scrypto/src/engine/scrypto_env.rs
  transaction/examples/resources/creation/fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/fungible/with_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/no_initial_supply.rtm
  transaction/examples/resources/creation/non_fungible/with_initial_supply.rtm
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
Labels: scrypto-lib

#1186 Feature: Add metadata_locker role
  assets/blueprints/metadata/src/lib.rs
  radix-engine-interface/src/api/node_modules/metadata/invocations.rs
  radix-engine-interface/src/blueprints/resource/resource_manager.rs
  radix-engine-tests/tests/auth_resource.rs
  radix-engine-tests/tests/blueprints/metadata_component/src/lib.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/system/node_modules/metadata/package.rs
  scrypto/src/modules/metadata.rs
  scrypto/src/resource/resource_manager.rs
Labels: scrypto-lib

#1181 Architecture: Scrypto Cleanups
  assets/blueprints/flash_loan/src/lib.rs
  assets/blueprints/genesis_helper/src/lib.rs
  assets/blueprints/metadata/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/tests/blueprints/access_rules/src/mutable_access_rules.rs
  radix-engine-tests/tests/blueprints/address/src/lib.rs
  radix-engine-tests/tests/blueprints/bucket/src/bucket.rs
  radix-engine-tests/tests/blueprints/metadata_component/src/lib.rs
  radix-engine-tests/tests/blueprints/non_fungible/src/non_fungible_test.rs
  radix-engine-tests/tests/blueprints/resource/src/lib.rs
  radix-engine-tests/tests/blueprints/royalty-auth/src/lib.rs
  radix-engine-tests/tests/blueprints/static_dependencies2/src/lib.rs
  scrypto-derive/src/blueprint.rs
  scrypto/src/component/component.rs
  scrypto/src/component/object.rs
  scrypto/src/component/package.rs
  scrypto/src/macros.rs
  scrypto/src/modules/access_rules.rs
  scrypto/src/modules/metadata.rs
  scrypto/src/modules/royalty.rs
  scrypto/src/resource/resource_manager.rs
  scrypto/src/runtime/runtime.rs
Labels: scrypto-lib

#1188 Feature/update wasm memory limiting and package substates
  radix-engine-constants/src/lib.rs
  radix-engine-interface/src/api/mod.rs
  radix-engine-interface/src/api/system_modules/limits_api.rs
  radix-engine-interface/src/api/system_modules/mod.rs
  radix-engine-interface/src/blueprints/package/invocations.rs
  radix-engine-interface/src/blueprints/package/substates.rs
  radix-engine-interface/src/types/node_layout.rs
  radix-engine-queries/src/typed_substate_layout.rs
  radix-engine-tests/Cargo.toml
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/assets/cost_transfer.csv
  radix-engine-tests/benches/costing.rs
  radix-engine-tests/benches/resources_usage.rs
  radix-engine-tests/benches/transfer.rs
  radix-engine-tests/benches/wasm.rs
  radix-engine-tests/tests/cached_wasm_limits.rs
  radix-engine-tests/tests/fuzz_transactions.rs
  radix-engine-tests/tests/package.rs
  radix-engine-tests/tests/transaction_executor.rs
  radix-engine-tests/tests/transaction_limits.rs
  radix-engine-tests/tests/transaction_multi_threaded.rs
  radix-engine-tests/tests/validator.rs
  radix-engine-tests/tests/wasm/memory.wat
  radix-engine-tests/tests/wasm_metering.rs
  radix-engine-tests/tests/wasm_validation.rs
  radix-engine/src/blueprints/package/package.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_modules/costing/fee_table.rs
  radix-engine/src/system/system_modules/limits/module.rs
  radix-engine/src/system/system_modules/module_mixer.rs
  radix-engine/src/transaction/transaction_executor.rs
  radix-engine/src/utils/package_extractor.rs
  radix-engine/src/vm/scrypto_vm.rs
  radix-engine/src/vm/vm.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/errors.rs
  radix-engine/src/vm/wasm/mod.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasm_instrumenter.rs
  radix-engine/src/vm/wasm/wasm_validator.rs
  radix-engine/src/vm/wasm/wasm_validator_config.rs
  radix-engine/src/vm/wasm/wasmer.rs
  radix-engine/src/vm/wasm/wasmi.rs
  radix-engine/src/vm/wasm_runtime/no_op_runtime.rs
  radix-engine/src/vm/wasm_runtime/scrypto_runtime.rs
  scrypto-unit/src/test_runner.rs
  simulator/src/ledger/dumper.rs
  simulator/src/resim/cmd_call_function.rs
  simulator/src/resim/cmd_call_method.rs
  simulator/src/resim/cmd_mint.rs
  simulator/src/resim/cmd_publish.rs
  simulator/src/resim/cmd_transfer.rs
Labels: substate

#1196 Architecture: Owner Fallback
  assets/blueprints/genesis_helper/src/lib.rs
  assets/faucet.wasm
  assets/flash_loan.wasm
  assets/genesis_helper.wasm
  assets/metadata.wasm
  assets/radiswap.wasm
  native-sdk/src/modules/access_rules/access_rules.rs
  native-sdk/src/resource/resource_manager.rs
  radix-engine-interface/src/api/node_modules/auth/access_rules/invocations.rs
  radix-engine-interface/src/api/node_modules/auth/mod.rs
  radix-engine-interface/src/api/node_modules/metadata/invocations.rs
  radix-engine-interface/src/api/node_modules/mod.rs
  radix-engine-interface/src/blueprints/resource/access_rules.rs
  radix-engine-interface/src/macros.rs
  radix-engine-interface/src/types/kv_store_init.rs
  radix-engine-tests/assets/cost_flash_loan.csv
  radix-engine-tests/assets/cost_radiswap.csv
  radix-engine-tests/benches/transaction_decompilation.rs
  radix-engine-tests/tests/access_rules.rs
  radix-engine-tests/tests/blueprints/access_rules/src/mutable_access_rules.rs
  radix-engine-tests/tests/blueprints/component/src/auth_list_component.rs
  radix-engine-tests/tests/blueprints/deep_sbor/src/deep_authrules_on_create.rs
  radix-engine-tests/tests/blueprints/deep_sbor/src/deep_struct.rs
  radix-engine/src/blueprints/access_controller/package.rs
  radix-engine/src/blueprints/resource/resource_manager_common.rs
  radix-engine/src/blueprints/util/securify.rs
  radix-engine/src/system/node_modules/access_rules/package.rs
  scrypto/src/component/component.rs
  scrypto/src/macros.rs
  scrypto/src/modules/access_rules.rs
  scrypto/src/prelude/mod.rs
  simulator/src/resim/cmd_new_badge_fixed.rs
  simulator/src/resim/cmd_new_badge_mutable.rs
  simulator/src/resim/cmd_new_simple_badge.rs
  simulator/src/resim/cmd_new_token_fixed.rs
  simulator/src/resim/cmd_new_token_mutable.rs
  transaction/src/manifest/e2e.rs
  transaction/src/manifest/generator.rs
Labels: scrypto-lib
