Repository radixdlt/radixdlt-scrypto, pull requests merged in 2024-10, with the labels that each got.

#1942 Cuttlefish - support crypto utils v2
  radix-common/src/crypto/bls12381/private_key.rs
  radix-common/src/crypto/bls12381/public_key.rs
  radix-common/src/crypto/bls12381/signature.rs
  radix-common/src/crypto/ed25519/private_key.rs
  radix-common/src/crypto/ed25519/public_key.rs
  radix-common/src/crypto/ed25519/signature.rs
  radix-common/src/crypto/secp256k1/public_key.rs
  radix-common/src/crypto/secp256k1/signature.rs
  radix-common/src/crypto/signature_validator.rs
  radix-engine-tests/assets/blueprints/Cargo.lock
  radix-engine-tests/assets/blueprints/Cargo.toml
  radix-engine-tests/assets/blueprints/crypto_scrypto_v1/Cargo.toml
  radix-engine-tests/assets/blueprints/crypto_scrypto_v1/src/lib.rs
  radix-engine-tests/assets/blueprints/crypto_scrypto_v2/Cargo.toml
  radix-engine-tests/assets/blueprints/crypto_scrypto_v2/src/lib.rs
  radix-engine-tests/tests/flash/crypto_utils.rs
  radix-engine-tests/tests/system/crypto_utils.rs
  radix-engine/src/system/system_modules/costing/costing_entry.rs
  radix-engine/src/system/system_modules/costing/fee_table.rs
  radix-engine/src/transaction/node_versioned_local_transaction_execution_cuttlefish.bin
  radix-engine/src/updates/anemone.rs
  radix-engine/src/updates/cuttlefish.rs
  radix-engine/src/vm/scrypto_vm.rs
  radix-engine/src/vm/versions.rs
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/errors.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmi.rs
  radix-engine/src/vm/wasm_runtime/no_op_runtime.rs
  radix-engine/src/vm/wasm_runtime/scrypto_runtime.rs
  radix-transaction-scenarios/generated-protocol-updates/cuttlefish/protocol_update_summary.txt
  radix-transaction-scenarios/generated-protocol-updates/cuttlefish/receipts/00-00-07--cuttlefish-vm-boot-to-enable-crypto-utils-v2.txt
  scrypto/src/crypto_utils/crypto_utils.rs
  scrypto/src/engine/wasm_api.rs
Labels: scrypto-lib, sbor

#1952 Add Secp256k1 key recovery to CryptoUtils v2
  radix-engine-interface/src/types/costing_reason.rs
  radix-engine-tests/assets/blueprints/crypto_scrypto_v2/src/lib.rs
  radix-engine-tests/assets/metering/cuttlefish/cost_crypto_utils.csv
  radix-engine-tests/tests/application/metering.rs
  radix-engine-tests/tests/system/crypto_utils.rs
  radix-engine/src/system/system.rs
  radix-engine/src/system/system_modules/costing/costing_entry.rs
  radix-engine/src/system/system_modules/costing/fee_table.rs
  radix-engine/src/transaction/node_versioned_local_transaction_execution_cuttlefish.bin
  radix-engine/src/vm/wasm/constants.rs
  radix-engine/src/vm/wasm/errors.rs
  radix-engine/src/vm/wasm/prepare.rs
  radix-engine/src/vm/wasm/traits.rs
  radix-engine/src/vm/wasm/wasmi.rs
  radix-engine/src/vm/wasm_runtime/no_op_runtime.rs
  radix-engine/src/vm/wasm_runtime/scrypto_runtime.rs
  radix-transaction-scenarios/assets/crypto_scrypto_v2.rpd
  radix-transaction-scenarios/assets/crypto_scrypto_v2.wasm
  scrypto/src/crypto_utils/crypto_utils.rs
  scrypto/src/engine/wasm_api.rs
Labels: scrypto-lib, sbor

#1945 feature: Radix CLIs work with new manifests
  .github/workflows/ci.yml
  radix-clis/src/lib.rs
  radix-clis/src/resim/cmd_call_function.rs
  radix-clis/src/resim/cmd_call_method.rs
  radix-clis/src/resim/cmd_export_package_definition.rs
  radix-clis/src/resim/cmd_mint.rs
  radix-clis/src/resim/cmd_new_account.rs
  radix-clis/src/resim/cmd_new_badge_fixed.rs
  radix-clis/src/resim/cmd_new_badge_mutable.rs
  radix-clis/src/resim/cmd_new_simple_badge.rs
  radix-clis/src/resim/cmd_new_token_fixed.rs
  radix-clis/src/resim/cmd_new_token_mutable.rs
  radix-clis/src/resim/cmd_publish.rs
  radix-clis/src/resim/cmd_run.rs
  radix-clis/src/resim/cmd_transfer.rs
  radix-clis/src/resim/mod.rs
  radix-clis/src/rtmc/mod.rs
  radix-clis/src/rtmd/mod.rs
  radix-clis/src/utils/file.rs
  radix-clis/src/utils/mod.rs
  radix-clis/tests/.gitignore
  radix-clis/tests/rtmc_rtmd.sh
  radix-clis/tests/subintent.rtm
  radix-engine/src/utils/native_blueprint_call_validator.rs
  radix-transactions/src/manifest/any_manifest.rs
  radix-transactions/src/manifest/compiler.rs
  radix-transactions/src/manifest/decompiler.rs
  radix-transactions/src/manifest/dumper.rs
  radix-transactions/src/manifest/manifest_instructions.rs
  radix-transactions/src/manifest/manifest_traits.rs
  radix-transactions/src/manifest/static_manifest_interpreter.rs
  radix-transactions/src/model/test_transaction.rs
  radix-transactions/src/model/v1/manifest_v1.rs
  radix-transactions/src/model/v1/system_manifest_v1.rs
  radix-transactions/src/model/v2/subintent_manifest_v2.rs
  radix-transactions/src/model/v2/transaction_manifest_v2.rs
  radix-transactions/src/validation/transaction_validator.rs
  scrypto-test/src/prelude.rs
Labels: manifest

#1969 tweak: `Decimal` and `PreciseDecimal` subunits are no longer `pub`
  radix-common-derive/src/decimal.rs
  radix-common/src/math/decimal.rs
  radix-common/src/math/precise_decimal.rs
  radix-engine-interface/src/blueprints/resource/mod.rs
  radix-engine-monkey-tests/src/lib.rs
  radix-engine-tests/tests/application/common_transactions.rs
  radix-engine-tests/tests/blueprints/pool_arithmetic.rs
  radix-engine-tests/tests/blueprints/pool_multi_resource.rs
  radix-engine-tests/tests/blueprints/pool_one_resource.rs
  radix-engine-tests/tests/blueprints/pool_two_resource.rs
  radix-engine-tests/tests/blueprints/validator.rs
  radix-engine-tests/tests/system/auth_account.rs
  radix-engine-tests/tests/system/royalty_edge_cases.rs
  radix-engine-tests/tests/vm/decimal.rs
  radix-engine/src/blueprints/consensus_manager/validator.rs
  radix-engine/src/blueprints/resource/fungible/fungible_resource_manager.rs
  radix-transactions/src/model/execution/executable_common.rs
Labels: scrypto-lib
